%image-replacement {
  text-indent: -1000%;
  white-space: nowrap;
  overflow: hidden;
}

// Apply to a :before/:after pseudo-element to give the
// impression of an inner shadow at the bottom of the parent.
%inner-shadow {
  content: "";
  display: block;
  position: absolute; // NOTE: this requires parent element to be positioned
  height: 2em; // override this to make the shadow taller or shorter
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);
}

@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

$prefixes: ("-webkit-","-moz-", "-o-", "-ms-", "");
@mixin prefix($property, $value) {
  @each $prefix in $prefixes {
    #{$prefix}#{$property}: #{$value};
  }
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin coloured-links($colour) {
  a {
    color: mix($colour, #fff, 20%);

    &:hover,
    &:focus {
      color: mix($colour, #fff, 30%);
    }
  }

  .button {
    color: darken($colour, 10%);
    background-color: #fff;

    &:hover,
    &:active,
    &:focus {
      color: darken($colour, 20%);
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-wrap($wrap) {
  -moz-box-wrap: $wrap;
  -webkit-box-wrap: $wrap;
  -webkit-flex-wrap: $wrap;
  -ms-flexbox-wrap: $wrap;
  flex-wrap: $wrap;
}

@mixin flex-align-items($alignment) {
  -webkit-box-align: $alignment;
  -webkit-align-items: $alignment;
  -ms-flex-align: $alignment;
  align-items: $alignment;
}

@mixin high-dpi-image($path) {
  background-image: url("#{$path}.png");

  @media ($high-dpi-screen) {
    background-image: url("#{$path}@2x.png");
  }

  @media all {
    background-image: url("#{$path}.svg"), none;
  }
}
