.section {
  display: block; // sections can be <a> elements sometimes!
  padding: 1em;

  @media (min-width: $small-screen) {
    margin-left: $nav-width-small-screen;
  }

  @media (min-width: $medium-screen) {
    margin-left: $nav-width-medium-screen;
    padding: 1.5em;
  }

  @media (min-width: $large-screen) {
    margin-left: $nav-width-large-screen;
    padding: 2em;
  }

  @media (min-width: $huge-screen) {
    padding: 2.5em;
  }

  &:last-child {
    padding-bottom: 5em;
  }

  a {
    text-decoration: underline;
    font-weight: 600;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  p {
    font-size: 1.2em;
    line-height: 1.4em;
  }

  & > :last-child,
  & > :last-child > :last-child {
    margin-bottom: 0;
  }

  @media (min-width: $large-screen) {
    & > * {
      width: 66%;
    }
  }

  & > .row {
    width: auto;
  }
}

.section--no-padding {
  padding: 0;

  @media (min-width: $small-screen) {
    margin-left: $nav-width-small-screen;
  }

  @media (min-width: $medium-screen) {
    margin-left: $nav-width-medium-screen;
  }

  @media (min-width: $large-screen) {
    margin-left: $nav-width-large-screen;
  }
}

.section--centred {
  text-align: center;

  & > * {
    width: auto;
  }
}

@media (min-width: $large-screen){
  .section--flipped {
    @include clearfix();

    & > * {
      clear: right;
      float: right;
    }
  }
}

.section--impactful {
  padding-top: 2em;
  padding-bottom: 2em;

  @media (min-width: $large-screen) {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  @media (min-width: $huge-screen) {
    padding-top: 7%;
    padding-bottom: 7%;
  }
}

.section--white {
  & + & {
    border-top: 1px solid $colour_light_grey;
  }
}

.section--next {
  @extend .section--centred;

  .button .fa {
    margin-left: 0.6em;
    vertical-align: -0.05em;
  }
}

.section--welcome-hero {
  background: $colour_blue url(../img/team-small.jpg) 50% 30% no-repeat;
  background-size: cover;

  @media (min-width: $large-screen) {
    background-image: url(../img/team-large.jpg);
    padding-bottom: 4em;
  }

  @media (min-width: $huge-screen) {
    background-image: url(../img/team-huge.jpg);
    padding-bottom: 5em;
  }

  h1 {
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
    width: auto;
    margin-top: 30%; // 30% of parent width

    @media (min-width: $large-screen) {
      font-size: 3em;
    }

    @media (min-width: $huge-screen) {
      font-size: 4em;
      margin-top: 20%; // 30% of parent width
    }
  }
}

.welcome-main-container {
  @media (min-width: $large-screen) {
    width: auto;
    max-width: 36em;
    margin: -4.5em 2em 0 2em;
    padding: 2em;
    background-color: #fff;
  }

  @media (min-width: $huge-screen) {
    margin: -5.5em auto 0 auto;
    padding: 3em;
  }
}

.welcome-main-mission {
  color: $colour_blue;

  @media (min-width: $large-screen) {
    margin: 1em -2em;
    text-align: center;
  }

  @media (min-width: $huge-screen) {
    margin: 0.75em -2em;
    font-size: 2.5em;
  }
}

.page--figures {
  .stat,
  .stat-container {
    & + p,
    & + p + p {
      margin-top: 1em;
      font-size: 1em;
    }
  }
}

.section--figures-partners {
  border-top: 1px solid mix($colour_blue, #fff, 10%);
  border-bottom: 1px solid mix($colour_blue, #fff, 10%);
  background-color: mix($colour_blue, #fff, 10%);
  background-position: 50% 2%;
  background-repeat: no-repeat;
  background-size: 96%;

  padding-top: 25%; // map rests at top on narrow screens

  @include high-dpi-image('../img/map');

  @media (min-width: $large-screen) {
    padding-top: 2em;
    background-position: 50% 70%;
    background-size: contain;
  }

  @media (min-width: $huge-screen) {
    padding-top: 2.5em;
    background-position: 100% 70%;
    background-size: 70%;
  }

  .stat__main {
    border-bottom-color: transparentize($colour_blue, 0.7);
  }
}

.section--figures-tictec {
  position: relative; // so we can position the quote

  .stat + .stat {
    margin-top: 2em;
  }

  @media (min-width: $large-screen) {
    .stat {
      width: 50%;
    }
  }
}

.section--figures-team {
  background-color: mix($colour_blue, #fff, 10%);

  .stat__main {
    border-bottom-color: transparentize($colour_blue, 0.7);
  }
}

.page--foi {
  .testimonial {
    margin: 1.5em 0;
  }

  .testimonial__quote {
    display: inline-block;
    font-style: italic;
  }
}

.section--foi-slideshow {
  & > * {
    width: auto;
  }

  .slideshow__inner {
    &:after {
      @extend %inner-shadow;
    }
  }

  .slideshow__slide {
    padding: 0;
    position: relative;

    &:nth-child(6n + 1) {
      top: 0.5em;
      margin-left: -3em;
    }

    &:nth-child(6n + 2) {
      top: 2em;
      margin-left: -1.5em;
    }

    &:nth-child(6n + 3) {
      top: 0.5em;
      margin-left: -4em;
    }

    &:nth-child(6n + 4) {
      top: 2.5em;
      margin-left: -3.5em;
    }

    &:nth-child(6n + 5) {
      top: 0;
      margin-left: -2.5em;
    }

    &:nth-child(6n + 6) {
      top: 1.5em;
      margin-left: -3.5em;
    }
  }

  .screenshot {
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);

    img {
      border-top: 1px solid #ddd;
      width: 300px;
    }
  }
}

.section--foi-new {
  background-color: mix($colour_green, #fff, 10%);
  border-top: 1px solid mix($colour_green, #ddd, 20%);

  .row {
    margin-top: 2em;
  }

  .screenshot {
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    margin-bottom: 1em;
  }
}

.section--foi-stats {
  background-color: $colour_green;
  color: #fff;
  @include coloured-links($colour_green);

  .stat__main {
    border-bottom-color: mix($colour_green, #fff, 70%);
    color: #fff;
  }

  .stat__number {
    color: inherit;
  }
}

.section--foi-tweets {
  background-color: mix($colour_green, #fff, 80%);
  color: #fff;

  blockquote.twitter-tweet {
    max-width: none;
  }
}

.section--foi-commission {
  background: #fff url(../img/files-green.jpg) 0% 50% no-repeat;
  background-size: cover;
}

.section--foi-difference {
  background-color: $colour_green;
  color: #fff;
  @include coloured-links($colour_green);
}

.section--foi-scoops {
  @extend .section--no-padding;

  background-color: darken($colour_green, 6%);
  color: #fff;

  .row {
    margin: 0;
  }

  .row > a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: inherit;
    padding: 1em;
    color: #fff;

    @media (min-width: $medium-screen) {
      padding: 1.5em;
    }

    @media (min-width: $large-screen) {
      padding: 2em;
    }

    @media (min-width: $huge-screen) {
      padding: 2.5em;
    }

    &:nth-child(1) {
      background-color: darken($colour_green, 5%);

      &:hover {
        background-color: darken($colour_green, 15%);
      }
    }

    &:nth-child(2) {
      background-color: darken($colour_green, 10%);

      &:hover {
        background-color: darken($colour_green, 20%);
      }
    }

    &:nth-child(3) {
      background-color: darken($colour_green, 15%);

      &:hover {
        background-color: darken($colour_green, 25%);
      }
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $huge-screen) {
    .row {
      @include flexbox();

      & > a {
        width: 33.3%;
      }
    }
  }

  h2 {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }
}

.section--foi-250-years {
  background: #fff url(../img/last-words-green.jpg) 50% 50% no-repeat;
  background-size: cover;
  border-top: 1px solid mix($colour_green, #ddd, 10%);
  border-bottom: 1px solid mix($colour_green, #ddd, 10%);
}

.section--cities-stats {
  .stat + .stat {
    margin-top: 1.5em;
  }
}

.section--democracy-brexit {
  background-color: #f9fcfe;
  @media (min-width: $large_screen){
    background: #f9fcfe url(../img/cameron-blue.jpg) 0% 20% no-repeat;
    background-size: cover;
  }
}

.section--democracy-stats {
  .stat + .stat {
    margin-top: 1.5em;
  }
}

.section--democracy-international {
  background-color: mix($colour_blue, #fff, 10%);

  .row {
    margin-top: 2em;
  }

  .screenshot {
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    margin-bottom: 1em;
  }
}

.section--democracy-responsiveness {
  background: #f2f9fe url(../img/writing-blue.jpg) 50% 100% no-repeat;
  background-size: cover;
  border-top: 1px solid mix($colour_blue, #ddd, 10%);
}

.section--democracy-tweets {
  background-color: $colour_blue;
  color: #fff;
}

.page--help .section h1 {
  line-height: 1em;
  font-weight: 600;
}

.section--help-volunteers {
  border-top: 1px solid $colour_light_grey;
  background-color: mix($colour_blue, #fff, 10%);
}

.section--help-slideshow {
  background-color: mix($colour_blue, #fff, 10%);

  & > * {
    width: auto;
  }

  & + .section--white {
    border-top: 1px solid $colour_light_grey;
  }

  .slideshow__inner {
    &:after {
      @extend %inner-shadow;
    }
  }

  .slideshow__slide {
    padding: 0;
    position: relative;

    &:nth-child(5n + 1) {
      top: 0em;
      margin-left: -4em;
    }

    &:nth-child(5n + 2) {
      top: 1.5em;
      margin-left: -3.5em;
    }

    &:nth-child(5n + 3) {
      top: 0.5em;
      margin-left: -6em;
    }

    &:nth-child(5n + 4) {
      top: 2.5em;
      margin-left: -4.5em;
    }

    &:nth-child(5n + 5) {
      top: 1em;
      margin-left: -3.5em;
    }
  }

  .screenshot {
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);

    img {
      border-top: 1px solid #ddd;
    }
  }
}

.section--help-share {
  background-color: mix($colour_blue, #fff, 10%);

  .button + .button {
    margin-left: 0.5em;

    @media (min-width: $large-screen) {
      margin-left: 1em;
    }
  }
}

.section--help-forward {
  background-color: mix($colour_blue, #000, 50%);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
  padding-bottom: 55% !important;

  @include high-dpi-image('../img/rocket');

  @media (min-width: $small-screen) {
    padding-bottom: 40% !important;
  }

  @media (min-width: $large-screen) {
    padding-bottom: 35% !important;
  }

  @media (min-width: $huge-screen) {
    padding-bottom: 25% !important;
  }
}
