.section--welcome-toc {
  padding-right: 0;
  padding-top: 0;
}

.toc {
  width: auto;
  padding-left: 2em;

  @media (min-width: $large-screen) {
    padding-left: 4em;
  }

  @media (min-width: $huge-screen) {
    padding-left: 20%;
  }
}

@mixin toc-link-dimensions($icon-size){
  padding-left: (($icon-size / 2) + ($icon-size / 5));

  &:before {
    width: $icon-size;
    height: $icon-size;
    margin: (-1 * ($icon-size / 2)) 0 0 0;
    left: (-1 * $icon-size / 2);
  }
}

a.toc__link {
  font-weight: normal;
  text-decoration: none;
}

.toc__link {
  position: relative;
  display: block;
  padding: 1em 1.5em;
  width: auto;
  background-color: $colour_off_white;

  // Leave space for the circular icons
  margin: 2em 0;

  @include toc-link-dimensions(5em);

  @media (min-width: $medium-screen) {
    &:nth-child(2n){
      margin-left: 1em;
    }
  }

  @media (min-width: $large-screen) {
    margin: 2.5em 0;
    @include toc-link-dimensions(7em);

    &:nth-child(2n){
      margin-left: 2em;
    }
  }

  @media (min-width: $huge-screen) {
    margin: 3.5em 0;
    @include toc-link-dimensions(9em);

    @include prefix('transition', 'margin-left 0.1s');

    &:hover,
    &:focus {
      margin-left: -1em;
    }

    &:nth-child(2n){
      margin-left: 5em;

      &:hover,
      &:focus {
        margin-left: 4em;
      }
    }
  }

  h3 {
    font-size: 1.2em; // down from 1.5em
    margin-bottom: 0.3em;
    font-weight: 600;
  }

  &:hover,
  &:focus {
    h3 {
      text-decoration: underline;
    }
  }

  p {
    color: $colour_dark_grey;
    font-size: 1em; // down from 1.2em
  }

  & > :last-child {
    margin-bottom: 0;
  }

  // Circular icons
  &:before {
    content: "";
    position: absolute;
    display: block;
    background-color: $colour_blue;
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: 0.4em solid #fff;
    border-radius: 100%;
    top: 50%;
  }
}

// This is where we apply the different icons for each TOC link,
// and also do some fiddly art direction to compensate for the
// different line lengths. (First impressions count!)

.toc__link[href^="/figures"] {
  @media (min-width: $medium-screen) {
    margin-top: 0;
  }

  &:before {
    @include high-dpi-image("../img/porthole-figures");
  }
}

.toc__link[href^="/foi"] {
  &:before {
    background-color: $colour_green;
    @include high-dpi-image("../img/porthole-foi");
  }

  p {
    max-width: 23em;
  }
}

.toc__link[href^="/cities"] {
  &:before {
    @include high-dpi-image("../img/porthole-cities");
  }

  p {
    max-width: 25em;
  }
}

.toc__link[href^="/democracy"] {
  &:before {
    @include high-dpi-image("../img/porthole-democracy");
  }

  p {
    max-width: 28em;
  }
}

.toc__link[href^="/help"] {
  &:before {
    @include high-dpi-image("../img/porthole-help");
  }

  p {
    max-width: 21em;
  }
}
