.image-power-people {
    background: transparent url(../img/power-for-people.jpg) 50% 50% no-repeat;
    background-size: cover;

    .webp & {
        background-image: url(../img/power-for-people.webp);
    }
}

.image-medicins-sans {
    background: transparent url(../img/medicins-sans-frontiers.jpg) 50% 50% no-repeat;
    background-size: cover;

    .webp & {
        background-image: url(../img/medicins-sans-frontiers.webp);
    }
}

.image-muslim-engagement {
    background: transparent url(../img/muslim-engagement.jpg) 50% 50% no-repeat;
    background-size: cover;

    .webp & {
        background-image: url(../img/muslim-engagement.webp);
    }
}

.image-humanity-and-inclusion {
    background: transparent url(../img/humanity-and-inclusion.jpg) 50% 50% no-repeat;
    background-size: cover;

    .webp & {
        background-image: url(../img/humanity-and-inclusion.webp);
    }
}

.image-care-for-calais {
    background: transparent url(../img/care-for-calais.jpg) 50% 50% no-repeat;
    background-size: cover;

    .webp & {
        background-image: url(../img/care-for-calais.webp);
    }
}

.image-rewilding-alliance {
    background: transparent url(../img/rewilding-alliance.jpg) 50% 50% no-repeat;
    background-size: cover;

    .webp & {
        background-image: url(../img/rewilding-alliance.webp);
    }
}
