.white-link {
    color: #fff;
    background-image: linear-gradient(rgba(#fff, 0.6) 0%, rgba(#fff, 0.6) 100%);
    background-size: 100% 1px;
    background-position: 50% 90%;
    background-repeat: no-repeat;

    &:hover {
        color: #fff;
        text-decoration: none;
        background-image: linear-gradient(#fff 0%, #fff 100%);
    }
}
