.underline {
    background-image: linear-gradient(#fff 0%, #fff 100%);
    background-size: 100% 0.3em;
    background-position: 50% 90%;
    background-repeat: no-repeat;

    h2 & {
        background-size: 100% 0.2em;
        background-position: 50% 80%;
    }
}

@each $color, $value in $theme-colors {
    .underline-#{$color} {
        background-image: linear-gradient($value 0%, $value 100%);
    }
}
