%image-replacement {
  text-indent: -1000%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

$prefixes: ("-webkit-","-moz-", "-o-", "-ms-", "");
@mixin prefix($property, $value) {
  @each $prefix in $prefixes {
    #{$prefix}#{$property}: #{$value};
  }
}

@mixin coloured-links($colour) {
  a {
    color: mix($colour, #fff, 20%);

    &:hover,
    &:focus {
      color: mix($colour, #fff, 30%);
    }
  }

  .button {
    @extend .button;
    color: darken($colour, 10%);
    background-color: #fff;
    text-decoration: none;
    font-weight: normal;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    font-size: 0.8em;

    &:hover,
    &:active,
    &:focus {
      color: darken($colour, 20%);
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}
