%image-replacement {
  text-indent: -1000%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

$prefixes: ("-webkit-","-moz-", "-o-", "-ms-", "");
@mixin prefix($property, $value) {
  @each $prefix in $prefixes {
    #{$prefix}#{$property}: #{$value};
  }
}

@mixin coloured-links($colour) {
  a {
    color: mix($colour, #fff, 20%);

    &:hover,
    &:focus {
      color: mix($colour, #fff, 30%);
    }
  }
}
