.section {
  padding: 1em;

  @media (min-width: $small-screen) {
    margin-left: 8em;
  }

  @media (min-width: $medium-screen) {
    margin-left: 10em;
    padding: 1.5em;
  }

  @media (min-width: $large-screen) {
    margin-left: 12em;
    padding: 2em;
  }

  @media (min-width: $huge-screen) {
    padding: 2.5em;
  }

  a {
    text-decoration: underline;
    font-weight: 600;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  p {
    font-size: 1.2em;
    line-height: 1.4em;
  }

  @media (min-width: $large-screen) {
    & > * {
      width: 66%;
    }
  }

  @media (min-width: $huge-screen) {
    & > * {
      width: 50%;
    }
  }
}

@each $slug, $colour in $sections {
  body.#{$slug} {
    background-color: $colour;
    color: #fff;

    .section a {
      color: mix($colour, #fff, 20%);

      &:hover,
      &:focus {
        color: mix($colour, #fff, 30%);
      }
    }
  }
}

.section--one-half {
  min-height: 300px;
}

.section--one-quarter {
  min-height: 150px;
}

.section--three-quarters {
  min-height: 450px;
}

@media (min-width: $medium-screen) and (min-height: 740px) {
  .section--one-half {
    min-height: 350px;
  }

  .section--one-quarter {
    min-height: 175px;
  }

  .section--three-quarters {
    min-height: 525px;
  }
}

@media (min-width: $medium-screen) and (min-height: 840px) {
  .section {
    padding: 2em;
  }

  .section--one-half {
    min-height: 400px;
  }

  .section--one-quarter {
    min-height: 200px;
  }

  .section--three-quarters {
    min-height: 600px;
  }
}

@media (min-width: $medium-screen){
  .section--punchline {
    @include clearfix();

    & > * {
      clear: right;
      float: right;
    }
  }
}

.section--basics-uk,
.section--basics-international {
  h2 {
    text-align: center;

    @media (min-width: $medium-screen){
      margin-top: 2em;
    }
  }
}

%background-cover {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section--we-are-mysociety {
  @extend %background-cover;
  background-position: 50% 30%;
  background-image: url(../img/team-purple.jpg);
}

.section--welcome-international {
  @extend %background-cover;
  background-image: url(../img/map-purple.gif);
}

.section--welcome-commercial {
  @extend %background-cover;
  background-position: 50% 60%;
  background-image: url(../img/runnymede-purple.jpg);
}

.section--basics-uk {
  @extend %background-cover;
  background-image: url(../img/pairing-red.jpg);
}

.section--basics-international {
  @extend %background-cover;
  background-position: 0% 50%;
  background-image: url(../img/temple-red.jpg);
  border-top: 1px solid darken($colour_red, 10%);
}

.section--basics-employees {
  @extend %background-cover;
  background-position: 50% 30%;
  background-image: url(../img/team-red.jpg);

  position: relative;
  overflow: hidden;
  border-bottom: 1px solid darken($colour_red, 15%);

  h2, p {
    position: relative;
    z-index: 1;
  }

  .chart__basics-employees {
    position: absolute;
    z-index: 0;
    top: 0;
    left: -5px;
    right: -5px;
    bottom: -5px;
    width: auto;
  }
}

.section--basics-busy {
  @extend %background-cover;
  background-image: url(../img/coding-red.jpg);

  h2 {
    margin-bottom: 1em;
  }
}

.section--basics-partisan {
  text-align: center;

  & > * {
    width: auto;
  }

  .chart__partisan {
    span {
      display: block;
      margin: 1em -2em 0 -2em;
    }
  }

  .chart__partisan__wrapper {
    display: inline-block;
    width: 50%;
    height: 50%;
    margin: 1em 0;

    @media (min-width: $large-screen) {
      width: 15%;
      height: 15%;
      margin: 1em 5%;
    }
  }
}

.section--basics-agreement {
  background-color: mix(#000, $colour_red, 15%);
}

.section--international-1d-tour {
  @extend %background-cover;
  background-position: 50% 70%;
  background-image: url(../img/1d-concert-blue.jpg);
  text-shadow: 0 1px 5px transparentize(darken($colour_blue, 25%), 0.5);
}

.section--international-silly {
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url(../img/1d-closeup-blue.jpg);
}
