.stat {
  @include clearfix();
}

.stat__number {
  font-size: 2em;
  line-height: 1em;
  font-weight: bold;
  font-family: $condensed_typeface;
  float: left;
  margin-right: 0.2em;
}

.stat__context {
  float: left;
  margin-right: 0.3em;
  line-height: 1em;
}

@media (min-width: $medium-screen) {
  .stat-columns {
    @include clearfix();
    width: auto !important;
    margin-bottom: 1em;
    border-bottom: 1px solid rgba(255,255,255,0.5);

    .stat {
      float: left;
      margin-right: 2em;

      &:last-child {
        margin-right: 0
      }
    }
  }
}

// The fallback table that’s shown when javascript is disabled
table.js-make-pie-chart,
table.js-make-sparkline {
  width: 100%;
  text-align: left;

  td, th {
    padding: 0.5em;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  th {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
