.stat {
  @include clearfix();
}

.stat__number {
  font-size: 2em;
  line-height: 1em;
  font-weight: bold;
  font-family: $condensed_typeface;
  float: left;
  margin-right: 0.2em;
}

.stat__context {
  float: left;
  margin-right: 0.3em;
  line-height: 1em;
}

@media (min-width: $medium-screen) {
  .stat-columns {
    @include clearfix();
    width: auto !important;
    margin-bottom: 1em;
    border-bottom: 1px solid rgba(255,255,255,0.5);

    .stat {
      float: left;
      margin-right: 2em;

      &:last-child {
        margin-right: 0
      }
    }
  }
}

.slideshow {
  overflow: hidden;
  position: relative;
  height: 12em;

  .section & {
    margin: 0 -1em;

    @media (min-width: $medium-screen) {
      margin: 0 -1.5em;
    }

    @media (min-width: $large-screen) {
      margin: 0 -2em;
    }

    @media (min-width: $huge-screen) {
      margin: 0 -2.5em;
    }
  }
}

.slideshow__inner {
  height: 100%;
  position: absolute;
  left: -3em;
  top: 0;
  width: 9999px;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slideshow__slide {
  height: 100%;
  float: left;
  padding-right: 1em;

  img {
    height: 100%;
    width: auto;
  }
}

// The fallback table that’s shown when javascript is disabled
table.js-make-pie-chart,
table.js-make-sparkline {
  width: 100%;
  text-align: left;

  td, th {
    padding: 0.5em;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  th {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.nowrap {
  white-space: nowrap;
}

aside {
  font-size: 0.8em;
  opacity: 0.9;
}
