.header {
    background: $color-mysoc-off-white url(../img/bloom.png) top 50%  right 0% no-repeat;
    background-image: url(../img/bloom.svg), none;
    background-size: 45%;
    background-repeat: no-repeat;
    text-shadow: 0 0 1em #fff, 0 0 1em #fff;

    @include media-breakpoint-up(lg) {
        background-size: 33%;
    }

    @include media-breakpoint-up(xl) {
        background-size: 3.5em;
    }
}

.intro-mark-photo {
    width: 4em;

    @include media-breakpoint-up(sm) {
        width: 7em;
    }
}

.board-members {
    img {
        width: 3.8em;
        height: 3.8em;
    }
}
