a {
    text-underline-offset: $link-underline-offset;
    text-decoration-thickness: 0.1em !important;

    &:hover {
        text-decoration: underline;
    }

    &:focus {
        background-color: $color-mysoc-yellow;
        color: $black;
        img {
            background-color: $black;
            outline: 3px solid yellow;
        }
    }
}

.white-link {
    color: $white;
    text-decoration: underline;
    text-decoration-color:transparentize($color: $white, $amount: 0.3);

    &:hover {
        color: $white;
        text-decoration: none;
    }
}

.black-link {
    color: $black;
    text-decoration: underline;
    text-decoration-color:transparentize($color: $black, $amount: 0.3);

    &:hover {
        color: $black;
        text-decoration: none;
    }
}

.is-with-icon {
    text-decoration: none;
    padding-left: 30px;
    background-image: url('../img/icons/link-black.svg');
    background-size: contain;
    background-position: left 0 center;
    background-repeat: no-repeat;

    &:hover {
        background-image: url('../img/icons/link-black.svg');
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }

    &:focus {
        background-image: url('../img/icons/link-black.svg');
        background-color: $color-mysoc-yellow;
        color: $black;
    }
}
