.stat__main {
    margin: 1em 0;
    padding: 0.5em 0;
}

.stat__number {
    font-family: $condensed-font-stack;
    font-size: 5em;
    line-height: 0.85em;
    font-weight: bold;
}

.stat__number.stat__number--medium {
    font-size: 4em;
}

.stat__name,
.most-visited__title {
    font-size: 1em;
    line-height: 1.2em;
    display: block;
    position: relative;
    z-index: 1;
    // max-width: 380px;
}

.most-visited {
    li {
        padding-top: 0.5em;
        margin-top: 0.5em;
        border-top: 1px solid rgba(#fff, 0.5);
    }

    a {
        color: #fff;
    }
}
