---
layout: default
permalink: /
---

<h1 class="text-center mb-0 py-6 py-sm-7 header" id="intro">mySociety in&nbsp;2019</h1>

<div class="bg-mysoc-off-white py-4 py-sm-6 py-md-7">
    <div class="container">
        <div class="row justify-content-center">
            <div class="d-flex d-sm-block align-items-center col-sm-3 text-center mb-3 mb-sm-0 pr-sm-4 pr-md-5">
                {% include image.html src="/assets/img/mark.jpg" loading="lazy" width="200" height="200" class="intro-mark-photo rounded-circle mr-3 mr-sm-0" alt="Mark Cridge" %}
                <small class="d-block text-mysoc-dark-grey mt-sm-3">Mark Cridge, CEO</small>
            </div>
            <div class="col-sm-9 col-md-8 col-lg-7">
                <p>Welcome to our annual report. As always, it’s a chance to catch up with everything we’ve been doing in the last twelve months — and to take stock.</p>
                <p>We’ve been thinking deeply about what part mySociety has to play in the wider picture of global and national events. It’s been a heck of a year, with the shattering of democratic norms; the increasing grip of deep fakes, misdirection and misinformation; the growing international recognition of climate tipping points, and failed promises from those in whom we most need to lay our trust.</p>
                <p>What gives us hope is that the tides have turned: the recognition that it is possible for ordinary people to hold power to account, to organise effectively for change, and to confront the challenges that lie ahead. Now, more than ever, it’s vital that every citizen feels empowered to act.</p>
                <p>And whether you're delighted or dismayed by the UK General Election result, one thing’s for sure: mySociety will go on providing the resolutely non-partisan services that we’re known for, through 2020 and beyond.
                We’ll help you hold your representatives to account, demand transparency and make change in your own neighbourhood.</p>
                <p>In short, we’ll be here to help you in every aspect of your life as an active citizen.</p>
            </div>
        </div>
    </div>
</div>

{% include section-slope.html topleft="mysoc-off-white" bottomright="mysoc-blue" %}

<div class="bg-mysoc-blue pt-4 pt-sm-6 pt-md-7 pb-7 pb-md-9" id="new">
    <div class="container">
        <h1 class="text-center mt-0">So what’s new?</h1>
        <div class="row mt-5 mt-sm-6 mt-md-7">
            <div class="col-sm-5">
                <h2><span class="underline">New<br>trustees</span></h2>
            </div>
            <div class="col-sm-7">
                <p>With the world in the state it is, it’s a good thing we’ve taken on some kickass new board members to help us out. We celebrated five new appointments who bring a wealth of experience working with business, parliaments, governments big and small.</p>
                <p>Hi <strong>Julia</strong>, <strong>Kate</strong>, <strong>Ade</strong>, <strong>Cam</strong>, and <strong>Steve</strong>!</p>
                <p class="board-members mt-0 mx-n2">
                    <a href="https://www.mysociety.org/about/board/julia-keutgen/" class="p-2 d-inline-block">
                        {% include image.html src="/assets/img/julia.jpg" loading="lazy" alt="Julia Keutgen" class="rounded-circle" %}
                    </a>
                    <a href="https://www.mysociety.org/about/board/kate-jones/" class="p-2 d-inline-block">
                        {% include image.html src="/assets/img/kate.jpg" loading="lazy" alt="Kate Jones" class="rounded-circle" %}
                    </a>
                    <a href="https://www.mysociety.org/about/board/ade-adewunmi/" class="p-2 d-inline-block">
                        {% include image.html src="/assets/img/ade.jpg" loading="lazy" alt="Ade Adewunmi" class="rounded-circle" %}
                    </a>
                    <a href="https://www.mysociety.org/about/board/cam-ross/" class="p-2 d-inline-block">
                        {% include image.html src="/assets/img/cam.jpg" loading="lazy" alt="Cam Ross" class="rounded-circle" %}
                    </a>
                    <a href="https://www.mysociety.org/about/board/steve-skelton/" class="p-2 d-inline-block">
                        {% include image.html src="/assets/img/steve.jpg" loading="lazy" alt="Steve Skelton" class="rounded-circle" %}
                    </a>
                </p>
                <p>We also said goodbye to the wonderful <strong>Owen Blacker</strong> who has served on our boards for over 15 years, since mySociety’s very earliest days – his insights will be missed, but he’ll always remain a friend of mySociety.</p>
            </div>
        </div>
        <div class="row mt-5 mt-sm-6 mt-md-7">
            <div class="col-sm-5">
                <h2><span class="underline">New team members</span></h2>
            </div>
            <div class="col-sm-7">
                <p>We welcomed <strong>Nyasha</strong> as a vital staff support to the WhatDoTheyKnow volunteer team. She’s helping keep that user support inbox down to manageable proportions, and aiding the team with daily maintenance tasks.</p>
            </div>
        </div>
        <div class="row mt-5 mt-sm-6 mt-md-7">
            <div class="col-sm-5">
                <h2><span class="underline">New experiences</span></h2>
            </div>
            <div class="col-sm-7">
                <p class="chat"><strong>Sam</strong> For our work on the Climate Assembly, we’ve started looking at video streaming tech, which is all new to us.</p>
                <p class="chat"><strong>Gemma</strong> I visited Accra in Ghana to interview legal professionals, government officials and citizens — not something I do every year for sure!</p>
                <p class="chat"><strong>Martin</strong> This year our work has become more outwardly collaborative, and it has been eye-opening — in a good way.</p>
                <p class="chat"><strong>Zarino</strong> Ok, super geeky, but I switched from a vertical mouse (already a bit niche) to a trackball mouse (super niche). But wow, what a difference. Look after your wrists, people!</p>
                <p class="chat"><strong>Struan</strong> I visited my first karaoke booth (not a success).</p>
            </div>
        </div>
    </div>
</div>

{% include section-slope.html topright="mysoc-blue" bottomleft="white" %}

<div class="pb-5 pb-sm-7 pb-md-8">
    <div class="container text-center mt-n6 mt-sm-n7 mt-md-n8">
        <h1>Yes, yes, yes</h1>
        <p class="lead">that’s all very well – but what have we actually been doing?</p>
    </div>
</div>

{% include section-slope.html topleft="white" bottomright="mysoc-brighter-violet" %}

<div class="bg-mysoc-brighter-violet pb-7" id="tictec">
    <div class="container">
        <h1 class="tictec-logo">TICTeC</h1>
        <p class="text-center mx-auto" style="max-width: 16em">The world’s only conference exploring the impacts of Civic Technology</p>

        <hr style="border-top: 0.3em solid #fff;" class="mt-6 mb-4">

        <h2>First, at the OECD in Paris</h2>
        <p class="lead">TICTeC 2019 • Château de la Muette, Paris • 19th–20th March</p>
        <p>The Civic Tech community came together in Paris… in the springtime. Someone should write a song about that.</p>

        <img src="http://placehold.it/1600x600" class="my-3">

        <div class="row text-white my-3"">
            <div class="col-sm-6 col-md-3">
                <div class="stat">
                    <p class="stat__main">
                        <span class="stat__number stat__number--large">200</span>
                        <span class="stat__name">attendees</span>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="stat">
                    <p class="stat__main">
                        <span class="stat__number stat__number--large">29</span>
                        <span class="stat__name">countries</span>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="stat">
                    <p class="stat__main">
                        <span class="stat__number stat__number--large">76</span>
                        <span class="stat__name">speakers</span>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="stat">
                    <p class="stat__main">
                        <span class="stat__number stat__number--large">???</span>
                        <span class="stat__name">hours of video</span>
                    </p>
                </div>
            </div>
        </div>

        <p>200 people from 29 countries congregated in the OECD’s gilded chateau, to hear 76 speakers present, debate, and grapple with experiences from the coalfaces of Civic Tech around the world.</p>

        <div class="row my-3">
            <div class="col-sm-6">
                <img src="https://placehold.it/1600x900" class="my-3">
            </div>
            <div class="col-sm-6">
                <img src="https://placehold.it/1600x900" class="my-3">
            </div>
        </div>

        <p><strong>Alessandra Orofino</strong> inspired everyone as she recounted experiences of tackling ‘platform politicians’ of the far right. Takeaway quote? “The next generation will save democracy if we let them”.</p>

        <div class="row my-3">
            <div class="col-sm-6">
                <img src="https://placehold.it/1600x900" class="my-3">
            </div>
            <div class="col-sm-6">
                <img src="https://placehold.it/1600x900" class="my-3">
            </div>
        </div>

        <p><strong>James Anderson</strong> from Bloomberg Philanthropies gave examples of local governments making innovative, imaginative decisions against a “crisis of legitimacy that is unprecedented within our generation”.</p>

        <div class="row my-3">
            <div class="col-sm-6">
                <img src="https://placehold.it/1600x900" class="my-3">
            </div>
            <div class="col-sm-6">
                <img src="https://placehold.it/1600x900" class="my-3">
            </div>
        </div>

        <p>We heard the French perspective from Deputy Mayor of Paris <strong>Pauline Véron</strong>, MP <strong>Paula Forteza</strong> and <strong>Tatiana de Feraudy</strong> from Decider ensemble, demonstrating how Civic Tech in the shape of the Grand Débat National offered a response to the big social challenge raised by the gilets jaunes.</p>

        <hr style="border-top: 0.3em solid #fff;" class="mt-6 mb-4">

        <h2 class="mt-5">And then, at City Hall in London</h2>
        <p class="lead">TICTeC Local 2019 • City Hall, London • 1st November</p>
        <p>TICTeC Local occupied the top floor of the state-of-the-art, snail-shaped City Hall on London’s South Bank.</p>

        <img src="http://placehold.it/1600x600" class="mt-2 mb-4">

        <p>We talked communities and local government, with the climate crisis top of everyone’s minds. Are <strong>Citizens’ Assemblies</strong> an adequate response? What can they achieve… and what are the potential pitfalls?</p>

        <p>There were uplifting stories of the power of civic tech to <strong>empower residents</strong>, make <strong>food banks more effective</strong>, turn <strong>impoverished communities</strong> around, and <strong>help the homeless</strong>.</p>

        <div class="row my-3">
            <div class="col-sm-6">
                <img src="https://placehold.it/1600x900" class="my-3">
            </div>
            <div class="col-sm-6">
                <img src="https://placehold.it/1600x900" class="my-3">
            </div>
            <div class="col-sm-6">
                <img src="https://placehold.it/1600x900" class="my-3">
            </div>
            <div class="col-sm-6">
                <img src="https://placehold.it/1600x900" class="my-3">
            </div>
        </div>

        <div class="row mt-7">
            <div class="col-sm-5">
                <h2><span class="underline">What was your memorable TICTeC moment?</span></h2>
            </div>
            <div class="col-sm-7">
                <p class="chat"><strong>Bec</strong> Trying to get 200 of the loveliest, most talented and compelling people in the world to stand still for one minute to get a group photo #facepalm</p>
                <p class="chat"><strong>Gemma</strong> It was amazing to be hosted by Paula Forteza MP and Mounir Mahjoubi (Secretary of State for Digital Affairs) at the French National Assembly building  — and to hear and feel their support for the civic tech movement.</p>
                <p class="chat"><strong>Myf</strong> Seeing a young female holding the whole room captivated by her message. Brava, Alessandra Orofino.</p>
            </div>
        </div>
    </div>
</div>

{% include section-slope.html topleft="mysoc-brighter-violet" bottomright="mysoc-blue" %}

<div class="bg-mysoc-blue py-5 py-sm-6 py-md-7" id="transparency">
    <div class="container">
        <h1 class="text-center">Transparency</h1>
        <p>We focused on: supporting the <strong>users of WhatDoTheyKnowPro</strong>; fostering the community of people who use and run <strong>FOI sites around the world</strong>; working with <strong>people in authorities</strong> who deal with FOI requests; reporting the <strong>amazing things people have done</strong> with their right to information; and <strong>researching FOI</strong> from a variety of angles.</p>

        <h2>What we made</h2>
        <div class="row">
            <div class="col-sm-6">
                <img src="https://placehold.it/1000x600">
                <p>We put out a <a href="https://www.mysociety.org/2019/07/03/alaveteli-releases-0-33-and-0-34/">new release</a> for all those <strong>running FOI sites</strong> on the Alaveteli platform.</p>
            </div>
            <div class="col-sm-6">
                <img src="https://placehold.it/1000x600">
                <p>Thanks to funding from Adessium Foundation, we’re <strong>working with partners across Europe</strong> to install <a href="https://www.mysociety.org/2019/05/29/alaveteli-pro-a-chance-to-increase-transparency-across-europe/">Alaveteli Pro</a> on their Alaveteli sites, allowing for more investigative journalism projects using FOI as a tool.</p>
            </div>
        </div>

        <h2>What people did with it</h2>
        <div class="row">
            <div class="col-sm-5">
                <h3><span class="underline">In the UK…</span></h3>
            </div>
            <div class="col-sm-7">
                <p>xxx people used WhatDoTheyKnow to make 26,000 requests this year, while more than 6.5 million visited the site to browse the information released in responses.</p>
                <p>We covered some of the exceptional stories that came from FOI requests made through the site:</p>
                <ul>
                    <li>How schoolchildren’s data was used to support the “hostile environment”</li>
                    <li>Uncovering a report on the implications of an Irish border</li>
                    <li>A UK-wide audit of the public buildings and land sold by councils under the pressures of austerity</li>
                    <li>Release of research supplied to the pro-Brexit group ERG</li>
                    <li>Tracing the shortcomings of the support system for those caught up in modern slavery</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <h3><span class="underline">…and around the world</span></h3>
            </div>
            <div class="col-sm-7">
                <p>Ma Dada brought simple FOI requesting to France, on the Alaveteli platform…</p>
                <p>…while TuNa Bakonzi did the same for the Republic of Congo…</p>
                <p>…and VreauInfo is up and running in Moldova…</p>
                <p>…plus, this just in, Wob Knop is now running Alaveteli Pro for professional users of FOI in the Netherlands.</p>
                <p>This brings the total number of active FOI sites being run around the world on our Alaveteli software to … 27!</p>
            </div>
        </div>

        <h2>What we discovered</h2>
        <ul>
            <li>Working with Hackney, Suffolk, Stevenage, East Herts and Cornwall, we studied the workflows of council staff who manage and respond to FOI and Subject Access requests, and published our research findings.</li>
            <li>How many FOI requests are received each year in local government? This piece of research delved into just that.</li>
            <li>And meanwhile, how many of  the FOI requests going to central government come out of our site WhatDoTheyKnow? We look into the figures here.</li>
            <li>We travelled to sub-Saharan Africa to look into Legal Information Institutes and what they do to help everyone gain access to the law.</li>
        </ul>

        <h2>Who we met</h2>
        <p>AlaveteliCon in Oslo brought together around 50 journalists, researchers, technologists and activists from 18 different countries, all with an interest in the use of FOI to investigate stories and run campaigns.</p>
        <p>We heard about suing Parliament; cat and mouse games with bureaucracy; the alarming tech increasingly deployed by the police; how AI can have unintended effects on everything from school bus routes to bail conditions; the clandestine graves of Mexico and many many more innovative ways in which FOI has been used to uncover vital stories.</p>
        <p>Lovely to spend time with our US counterparts Muckrock as well!</p>

        <p>[…]</p>

        <div class="row mt-7">
            <div class="col-sm-5">
                <h2><span class="underline">What’s been the most fun about Transparency this year?</span></h2>
            </div>
            <div class="col-sm-7">
                <p class="chat"><strong>Myf</strong> I loved hearing everyone's tales of how they've used FOI for good at AlaveteliCon, and especially enjoyed <a href="https://www.mysociety.org/tag/alavetelicon/">writing them up for the mySociety blog</a>.</p>
                <p class="chat"><strong>Bec</strong> Seeing first-hand how access to legal information online is acting as a catalyst for social and economic empowerment, and breaking down barriers to learning and employment for previously disadvantaged groups. </p>
            </div>
        </div>

    </div>
</div>

{% include section-slope.html topleft="mysoc-blue" bottomright="mysoc-green" %}

<div class="bg-mysoc-green py-5 py-sm-6 py-md-7" id="democracy">
    <div class="container">
        <h1 class="text-center">Democracy</h1>
        <p>We focused on: How tech could support the increasingly favoured civic phenomenon of <strong>Citizens’ Assemblies</strong>; refining <strong>TheyWorkForYou</strong> and making sure it survives into the next year; working closely with councils to get <strong>more people engaged in democracy</strong> at a local level.</p>

        <h2>How you helped</h2>
        <p>The TheyWorkForYou crowdfunder has a week to run. There’s still time to donate and help us keep the site going as we work to get everything in order post-election — and, we hope, add some new features to help people understand Parliament even more clearly.</p>
        <p>Want to be a part of that?</p>
        <p>Of course you do!</p>
        <p>Here’s the link.</p>

        <h2>What we discovered</h2>
        <ul>
            <li>We delved deep into what should be considered when creating a website for a Citizens’ Assembly…</li>
            <li>…part of wider research into whether digital tools should be used when running them, and if so, which ones, and how?</li>
            <li>And we published a series of posts looking at how our own WriteToThem site is used.</li>
        </ul>

        <h2>What we made</h2>
        <div class="row">
            <div class="col-sm-6">
                <img src="https://placehold.it/1000x600">
                <p>We built the website for Parliament’s forthcoming Climate Assembly, supporting the work of Involve and Sortition Foundation.</p>
            </div>
            <div class="col-sm-6">
                <img src="https://placehold.it/1000x600">
                <p>Through Public Square we helped the Democratic Society support the work of three councils – Frome, Glasgow and Calderdale – to explore participatory methods of Democracy.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="https://placehold.it/1000x600">
                <p>We added graphics to TheyWorkForYou to make votes easier to understand at a glance.</p>
            </div>
            <div class="col-sm-6">
                <img src="https://placehold.it/1000x600">
                <p>And now, as well as the UK, Scottish and Northern Ireland parliaments, you can also follow the London Assembly on TheyWorkForYou!</p>
            </div>
        </div>

        <h2>What people did with it</h2>
        <p>More than 3.5 million people used TheyWorkForYou to check out who their MP was, see how they voted and browse parliamentary debates.</p>
        <p>More than half a million folk used WritetoThem to send an email to their councillors, MPs, Assembly Members or MEPs.</p>

        <p>TheyWorkForYou and MapIt’s data helps others to create visualisations and conduct research, like this:</p>
        <div class="row">
            <div class="col-sm-4">
                <p>Parli-N-Grams, charting the frequency at which words and phrases are used in UK Parliament debates. Sometimes these are words which a certain Member of Parliament would prefer not to encounter.</p>
            </div>
            <div class="col-sm-4">
                <p>Tactical voting advice was potentially useful — but what if every service advocates a different approach? Charles Owen tried to work it all out.</p>
            </div>
            <div class="col-sm-4">
                <p>Voters could see and share electoral facts and margins at a glance thanks to these constituency cards.</p>
            </div>
        </div>

        <p>Countless news providers used TheyWorkForYou to underpin stories like these:</p>
        <div class="row">
            <div class="col-sm-4">
                <p>The New York Times linked to a TheyWorkForYou debate page in a story about Boris Johnson’s friendship with an entrepreneur who benefited from mayoral and governmental sponsorship.</p>
            </div>
            <div class="col-sm-4">
                <p>CarbonBrief used our data when analysing which MPs talk the most about climate change.</p>
            </div>
            <div class="col-sm-4">
                <p>ForcesNetwork published a piece on the new defence minister’s voting record;  RightsInfo looked at the Tory leadership contenders in terms of their human rights stances; Pink News checked Jo Swinson’s voting records on gay rights when she became leaader of the Lib Dems,  and Country Life examined the new Environment minister’s record.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p>The Independent profiled Penny Morduant when she became Theresa May’s new defence secretary.</p>
            </div>
            <div class="col-sm-4">
                <p>The Week compared Boris Johnson’s voting record to the pledges he made in his first week as PM.</p>
            </div>
            <div class="col-sm-4">
                <p>Newsletter, the Belfast paper, pointed to Lord Trimble’s voting record on equal gay rights in a story on his daughter’s same sex marriage.</p>
            </div>
        </div>

        <p>Many organisations used WriteToThem to help with campaigns, including: Extinction Rebellion, End Deportations, League Against Cruel Sports, Humanity and Inclusion, Where’s Your Head At, and both pro- and anti-Brexit campaigns.</p>

        <h2>Birthday!</h2>
        <p>TheyWorkForYou turned 15 (that said, it displays the Hansard archive as far back as 1919).</p>

        <h2>Who we worked with</h2>
        <p>We joined Westminster Foundation for Democracy in a visit to Uzbekistan’s Parliament in Tashkent, helping to analyse their current digital work, and making recommendations on how to open up their parliamentary processes digitally to increase citizen awareness and engagement.</p>
        <p>We successfully handed parliamentary monitoring sites the People's Assembly (South Africa) and Mzalendo (Kenya) over to full local control, a great testament to the advanced capability of the civic tech sector in sub-Saharan Africa.</p>

        <h2>Where we said goodbye</h2>
        <p>Our involvement with EveryPolitician comes to an end, as our ability to continue the project without sufficient dedicated funding has diminished – we’ve lots to learn and share for other organisations about what we might do differently in the future.</p>

    </div>
</div>

{% include section-slope.html topleft="mysoc-green" bottomright="mysoc-orange" %}

<div class="bg-mysoc-orange py-5 py-sm-6 py-md-7" id="community">
    <div class="container">
        <h1 class="text-center">Community</h1>
        <p>We worked on: <strong>rolling out new features</strong> for FixMyStreet Pro client councils; refining online mapping of <strong>community spaces and places</strong>; setting out a way forward for open data in the government’s <strong>planning register</strong>; prototyping a service to empower people who live in <strong>tower blocks</strong>.</p>

        <h2>What we discovered</h2>
        <ul>
            <li>We made recommendations around planning applications — specifically towards sharing open data.</li>
            <li>We worked with Tower Blocks UK to discover and prototype digital tools that would help to empower high rise residents.</li>
            <li>Our Research department looked more deeply into the effect of gender on FixMyStreet reports</li>
            <li>And they also did a lot of work around FixMyStreet and the different demographics that use it.</li>
        </ul>

        <h2>What we made</h2>
        <div class="row">
            <div class="col-sm-6">
                <img src="https://placehold.it/1000x600">
                <p>Keep It In The Community, our site that maps Assets of Community Value and other places significant to communities gained gorgeous new features.</p>
            </div>
            <div class="col-sm-6">
                <img src="https://placehold.it/1000x600">
                <p>[…]</p>
            </div>
        </div>

        <h2>What people did with it</h2>
        <p>You made more than 387,000 FixMyStreet reports this year, either on FixMyStreet.com, via the app, or on one of the 22 council sites that use FixMyStreet Pro as their main reporting interface.</p>

        <h3>Saving money</h3>
        <p>Buckinghamshire County Council totted up the precise savings they’ve made since installing FixMyStreet Pro as their official reporting system. A 98.69% cut in costs? Now that’s impressive.</p>

        <h3>Saving the trees</h3>
        <p>Friends of the Earth recommended FixMyStreet as a way to protect local trees.</p>

        <h3>Fixing Grenada</h3>
        <p>A new site based on the FixMyStreet platform, for the “Island of Spice”.</p>

        <h2>Who we worked with</h2>
        <p>Thanks to our new partnership with TfL, there’s a whole new layer of connectivity on FixMyStreet for Greater London.</p>
        <p>Reports on the relevant bus stops, traffic lights, bus shelters, underground and overground stations are now routed direct to TFL to get them fixed.</p>

        <h3>Building our FixMyStreet Pro business</h3>
        <p>Running commercial services for local government means we can bring better, more efficient workflows to council staff and officers.</p>
        <p>The revenue also supports our charitable work, providing a significant and appropriate source of income.</p>
        <p>Over 6.5 million residents across several counties are enjoying easy street reporting direct from their councils’ websites, thanks to beautiful new FixMyStreet instances in…</p>
        <ul>
            <li>Northamptonshire</li>
            <li>Hounslow</li>
            <li>Westminster</li>
            <li>Isle of Wight</li>
            <li>Peterborough</li>
            <li>Bexley</li>
        </ul>

        <h3>Making our data more accessible</h3>
        <p>Working with folk from the University of Sheffield and University of Stirling, we decided how best to share FixMyStreet open data with researchers.</p>

        <div class="row mt-7">
            <div class="col-sm-5">
                <h2><span class="underline">What’s been the most fun about Community this year?</span></h2>
            </div>
            <div class="col-sm-7">
                <p class="chat"><strong>Struan</strong> We had a code-off to decide which library to use for building form in the FixMyStreet admin.</p>
                <p class="chat"><strong>Zarino</strong> It’s exciting to speak to a wide range of people, understand what works and doesn’t work about their current services, and come up with new solutions that hopefully make the world a better place.</p>
            </div>
        </div>
    </div>
</div>

{% include section-slope.html topleft="mysoc-orange" bottomright="mysoc-red" %}

<div class="bg-mysoc-red py-5 py-sm-6 py-md-7" id="community">
    <div class="container">
        <p class="text-center">We’ve just sped you through everything we did this year — and it was a lot. But it’s only possible because of the contributions from funders, volunteers and donors.</p>

        <p class="text-center lead mt-4 mt-sm-5 mt-md-6 mb-0">We want to take this opportunity to say a massive</p>
        <h1 class="text-center">Thank you</h1>

        <div class="row mt-7">
            <div class="col-sm-5">
                <h2><span class="underline">To our funders</span></h2>
            </div>
            <div class="col-sm-7">
                <p>Grants from these far-sighted organisations make all our development possible, fund our research and allow us to employ people who really know what they’re doing. Without this support, we quite literally couldn’t continue.</p>

                <h3>Funding opportunities</h3>
                <p>Would you like to sponsor the next TICTeC? <a href="">Let us know!</a></p>
            </div>
        </div>

        <div class="row mt-7">
            <div class="col-sm-5">
                <h2><span class="underline">To our volunteers</span></h2>
            </div>
            <div class="col-sm-7">
                <p>[…]</p>
            </div>
        </div>

        <div class="row mt-7">
            <div class="col-sm-5">
                <h2><span class="underline">To our donors</span></h2>
            </div>
            <div class="col-sm-7">
                <p>Individual donations, both large and small, show that you understand the difference we’re making, and support us in all that we do.</p>
                <p>We’re deeply grateful for every contribution.</p>
                <p><a href="#">You can be a donor too! Donate here.</a></p>
            </div>
        </div>

        <div class="row mt-7">
            <div class="col-sm-5">
                <h2><span class="underline">To our users</span></h2>
            </div>
            <div class="col-sm-7">
                <p>You help, simply by being enthusiastic users of our sites. You contact your representatives, check and share voting records, tell your council about that pothole that needs filling or that streetlight that needs fixing, or make a request for information that puts the response in the public domain. It’s all good!</p>
                <p>Most of all, you help by telling your friends, family, colleagues and social networks about our services. Thank you.</p>
            </div>
        </div>

        <h2>The money stuff</h2>

        <p>Since we advocate for transparency, it’s only right that we practice it ourselves.</p>
        <p>So here’s where you can find, for 2018-19:</p>
        <ul>
            <li>Our Charity Commission accounts, including income and spending.</li>
            <li>Our accounts on Companies House for UK Citizens Online Democracy, the charity and limited company through which we run mySociety.</li>
            <li>Our mySociety Ltd accounts on Companies House. mySociety Ltd is the private limited company, wholly-owned by UKCOD, through which we carry out our commercial work.</li>
            <li>In 2018 we employed on average xx permanent staff and x staff on fixed term contracts, each of whom were paid in excess of the living wage.</li>
            <li>Salary costs are split across our Charity and Commercial companies, based on what projects staff spend their time on.</li>
            <li>Our Trustees and Non-Executive Directors all give their very valuable time for free and receive no other compensation — for which we’re very grateful.</li>
        </ul>

        <h2>Fond farewells</h2>
        <p>Thank you so much to our outgoing board members, for your years of service.</p>
        <p>And thank you to our former colleagues Nick, Liz, Tony and Emily who all left us this year.</p>

        <h1>What’s on the horizon?</h1>
        <p>We’re actively and enthusiastically working towards <strong>cutting our carbon emissions</strong>, looking at how we can cut down or mitigate our travel, use the most responsible suppliers, and help those who attend our events to keep their impact on the environment low low low. More on all of that soon.</p>
        <p>2020 will be <strong>the year of the climate crisis</strong> and like all organisations and individuals in our position we’ll be turning our focus towards what we can do to help mitigate the worst. Expect to see us adapt our existing transparency and democracy work towards this goal, with the creation of a new initiative or two directly targeting the main contributors to the crisis.</p>

        <div class="row mt-7">
            <div class="col-sm-5">
                <h2><span class="underline">What are you looking forward to in 2020?</span></h2>
            </div>
            <div class="col-sm-7">
                <p class="chat"><strong>Gemma</strong> I’m really looking forward to TICTeC 2020 – it’s the most exciting time of the year for me as we are lucky enough to bring together 200 people from around the world who, like us, work on civic tech and care about its development.</p>
                <p class="chat"><strong>Louise</strong> Hopes are to have a new FMS app, and to have released a new version of FixMyStreet Pro with the features we identified from the research.</p>
                <p class="chat"><strong>Bec</strong> More research into how digital is shaping our institutions and democracies, and how good design can empower citizens. There's so much we still don’t know, and tech is so fast moving, that demonstrating beneficial impact is more important than ever.</p>
                <p class="chat"><strong>Myf</strong> I can’t wait to see us play a meaningful part in democratic decision-making around climate change efforts.</p>
                <p class="chat"><strong>Mark</strong> 2020! If that isn’t the future then I don’t know what is. So I’m looking forward to ensuring we do our bit to ensure that society has a viable and flourishing future ahead of it.</p>
            </div>
        </div>

        <h2>Donate</h2>
        <p>[…]</p>

        <h2>Help us find new friends and supporters</h2>
        <p>Please share this report with someone who doesn’t know about mySociety.
        <p>[Like] [Tweet]</p>
        <p>If you'd like our news more often than annually, then subscribe to our newsletter.</p>

    </div>
</div>

<div class="bg-mysoc-black text-white py-5 py-sm-6 py-md-7">
    <div class="container">
        <p><a href="https://www.vexels.com/vectors/preview/152168/illustrated-travel-stamps-set">London and Paris travel stamps</a> designed by Vexels.</p>
    </div>
</div>