.image-privacy-international {
    background: transparent url(../img/privacy-international.jpg) 50% 50% no-repeat;
    background-size: cover;

    .webp & {
        background-image: url(../img/privacy-international.webp);
    }
}

.image-foi-haringey {
    background: transparent url(../img/foi-haringey.jpg) 0 50% no-repeat;
    background-size: cover;

    .webp & {
        background-image: url(../img/foi-haringey.webp);
    }
}

.image-foi-ed {
    background: transparent url(../img/foi-ed.jpg) 50% 50% no-repeat;
    background-size: cover;

    .webp & {
        background-image: url(../img/foi-ed.webp);
    }
}

.image-foi-librarian {
    background: transparent url(../img/foi-librarian.jpg) 50% 50% no-repeat;
    background-size: cover;

    .webp & {
        background-image: url(../img/foi-librarian.webp);
    }
}

.image-id-magazine {
    background: transparent url(../img/id-magazine.jpg) 50% 50% no-repeat;
    background-size: cover;

    .webp & {
        background-image: url(../img/id-magazine.webp);
    }
}

.image-stylist {
    background: transparent url(../img/stylist.jpg) 50% 50% no-repeat;
    background-size: cover;

    .webp & {
        background-image: url(../img/stylist.webp);
    }
}

.image-glamour {
    background: transparent url(../img/glamour.jpg) 50% 50% no-repeat;
    background-size: cover;

    .webp & {
        background-image: url(../img/glamour.webp);
    }
}

.image-dazed {
    background: transparent url(../img/dazed.jpg) 50% 50% no-repeat;
    background-size: cover;

    .webp & {
        background-image: url(../img/dazed.webp);
    }
}
