.stat__main {
    border-top: 0.3em solid;
    border-bottom: 0.3em solid;
    margin: 1em 0;
    padding: 0.5em 0;
}

.stat__number {
    font-family: $condensed-font-stack;
    font-size: 5em;
    line-height: 0.85em;
    font-weight: bold;
}

.stat__name {
    font-size: 1em;
    line-height: 1.1em;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    z-index: 1;
}
