---
layout: default
title: Better Cities
slug: cities
permalink: /cities/
---

<header class="section page-topper">
  <h1>Better Cities</h1>
  <p>FixMyStreet helps citizens <strong>report problems in their community</strong> to the authorities responsible for getting them fixed.</p>
  <p>But it’s also a whole lot more: a CRM system for councils, for starters. And FixMyStreet’s extreme flexibility means that it’s been used for all kinds of projects, from <strong>cycle accident reporting</strong> to <strong>corruption-busting</strong>.</p>
</header>

<div class="section section--white section--cities-fms2">
  <p>The big news is…</p>
  <h1>We launched FixMyStreet 2.0</h1>
  <p>The latest version of our <a href="http://fixmystreet.org/">FixMyStreet platform</a> represents a huge leap forward in design and functionality: it’s our investment in all those running FixMyStreet sites around the world, and the citizens they serve.</p>
  <p><a href="https://www.mysociety.org/2016/11/18/fixmystreet-version-2-0/">Here’s our rundown of the new features.</a></p>
</div>

<div class="section section--white section--cities-stats">
  <div class="row">

    <div class="column-one-half">
      <div class="stat">
        <p class="stat__main">
          <span class="stat__number">19</span>
          <span class="stat__name">countries</span>
        </p>
        <p class="stat__comment">
          Our <a href="http://fixmystreet.org/">FixMyStreet platform</a> is powering sites that help people improve their own community – from Malaysia to Uruguay, Zurich to Costa Rica.
        </p>
      </div>
    </div>

    <div class="column-one-half">
      <div class="stat">
        <p class="stat__main">
          <span class="stat__number">10</span>
          <span class="stat__name">local authorities</span>
        </p>
        <p class="stat__comment">
          That’s how many benefit from all the improvements we’ve made to our <a href="https://www.fixmystreet.com/council">FixMyStreet for Councils</a> service in 2016.
        </p>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="column-one-half">
      <div class="stat">
        <p class="stat__main">
          <span class="stat__number">81 million</span>
        </p>
        <p class="stat__comment">
          Look-ups on <a href="https://mapit.mysociety.org">MapIt</a>, our points-to-boundaries matching software.
        </p>
      </div>
    </div>

    <div class="column-one-half">
      <div class="stat">
        <p class="stat__main">
          <span class="stat__number">207,770</span>
        </p>
        <p class="stat__comment">
          FixMyStreet reports, sent to 421 UK councils and transport bodies in 2016. That’s up almost 25% on last year.
        </p>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="column-one-half">
      <div class="stat">
        <p class="stat__main">
          <span class="stat__number">1,195</span>
        </p>
        <p class="stat__comment">
          Reports of cycling accidents and near misses on <a href="https://www.mysociety.org/better-cities/case-study-collideoscope/">Collideoscope</a>.
        </p>
      </div>
    </div>

    <div class="column-one-half"></div>

  </div>
</div>

<div class="section section--centred section--cities-tweets">
  <h1>In 2016, FixMyStreet.com helped people like…</h1>

  <div class="row">
    <div class="column-one-half">
      {% include tweet.html user_display_name="Dan Stowell" user_handle="mclduk" tweet_html='Mattress lying in the road for a month. Reported it using <a href="https://twitter.com/fixmystreet">@FixMyStreet</a> -it’s gone the next day. Thanks <a href="https://twitter.com/TowerHamletsNow">@TowerHamletsNow</a>, thanks <a href="https://twitter.com/fixmystreet">@FixMyStreet</a>' tweet_url="https://twitter.com/mclduk/status/760844400456970240" date="3 Aug 2016"  %}
    </div>
    <div class="column-one-half">
      {% include tweet.html user_display_name="Tim Cowland" user_handle="Tim_SBIG" tweet_html='Amazing service from <a href="https://twitter.com/Herts_Highways">@Herts_Highways</a>. Faulty street lamp reported via <a href="https://twitter.com/fixmystreet">@fixmystreet</a> fixed with 34 mins of sending message. <a href="https://twitter.com/hashtag/speedoflight?src=hash">#speedoflight</a>' tweet_url="https://twitter.com/Tim_SBIG/status/725256139051536384" date="27 Apr 2016"  %}
    </div>
  </div>
  <div class="row">
    <div class="column-one-half">
      {% include tweet.html user_display_name="Eadlin" user_handle="DeeHants" tweet_html='<a href="https://twitter.com/mysociety">@mysociety</a>, your <a href="https://twitter.com/fixmystreet">@fixmystreet</a> app makes it so much easier to report issues. I found another 3 on today’s drive home!' tweet_url="https://twitter.com/DeeHants/status/722131033253089280" date="18 Apr 2016"  %}
    </div>
    <div class="column-one-half">
      {% include tweet.html user_display_name="Plexus Design" user_handle="plexusdesigner" tweet_html='<a href="https://fixmystreet.com">fixmystreet.com</a> 3 min form has fixed an issue that has been bugging me and my neighbours for months! Thank you! <a href="https://twitter.com/mysociety">@mysociety</a>' tweet_url="https://twitter.com/plexusdesigner/status/709519365603991552" date="14 Mar 2016"  %}
    </div>
  </div>
</div>

<div class="section section--white section--cities-councils">
  <h1>Huge improvements on FixMyStreet for Councils…</h1>
  <p>FixMyStreet powers several street fault reporting systems for councils in the UK and beyond, as <a href="http://www.fixmystreet.com/councils">a commercial service</a> that gives them more flexibility, slashed costs and high usability.</p>
  <p>This year, the service has been totally transformed for some of our most important users: the council staff who receive reports. It’s all thanks to our collaboration with some of the UK’s most forward-thinking authorities.</p>
  <p>Working with <strong>Oxfordshire County Council</strong>, we’ve <a href="https://www.google.com/url?q=https://www.fixmystreet.com/about/council&sa=D&ust=1481717542577000&usg=AFQjCNFo7BqUVyBlHNA9ljbGruZZXcJzag">dramatically improved the feature set of FixMyStreet for Councils</a>, allowing council workers to track and deal with reports more efficiently.</p>
  <p>And <strong>Bristol Council</strong> have led the way in showing how to replace outdated and expensive suppliers, while still retaining future flexibility, <a href="https://www.mysociety.org/2016/11/22/something-in-the-middle-how-bristol-connects/">through the power of middleware</a>.</p>
  <p><a href="https://www.fixmystreet.com/about/council">Get FixMyStreet for your council website.</a></p>
</div>

<div class="section section--white section--flipped section--cities-fms">
  <h1>…And for our community around the world</h1>
  <p>Since FixMyStreet is an open source project, many of the improvements we’ve made for our UK councils—like <a href="http://fixmystreet.org/2016/11/29/v2.0-html-emails/">HTML emails</a> and <a href="http://fixmystreet.org/2015/10/23/v1.7/">easy report filtering</a>—will also benefit our international re-users. It’s win-win!</p>
</div>

<div class="section section--cities-health">
  <h1>Technology for better health</h1>
  <p>We used our coding skills for good, on two very different projects.</p>

  <div class="row">
    <div class="column-one-half">
      <a class="screenshot" href="https://www.patentoppositions.org/">
        <img src="{{ site.baseurl }}/assets/img/thumbnail-podb.jpg" width="800" height="400" alt="">
      </a>
      <h2>The Patent Opposition Database</h2>
      <p>Working with Médecins Sans Frontières, we relaunched a platform for opposing medicine pricing monopolies. The <a href="https://www.patentoppositions.org/">Patent Opposition  Database</a> provides resources for  those taking on the big pharma companies by contesting drug patents. If successful, the end result will be lifesaving: cheaper, generic  medicines available to all.</p>
    </div>
    <div class="column-one-half">
      <a class="screenshot" href="https://bettercare.prostatecanceruk.org/">
        <img src="{{ site.baseurl }}/assets/img/thumbnail-pcuk.jpg" width="800" height="400" alt="">
      </a>
      <h2>Better Erectile Dysfunction care</h2>
      <p>And, with Prostate Cancer UK, we called on our experience in several places, to create a <a href="https://bettercare.prostatecanceruk.org/">smooth campaigning tool</a>. Freedom of Information requests provided the data we needed to see where provision for patients was lacking. Our knowledge of mapping, email handling and usability did the rest.</p>
    </div>
  </div>
</div>

<div class="section section--no-padding">
  <img src="{{ site.baseurl }}/assets/img/kota-damansara-blue.jpg" alt="" style="width: 100%;">
</div>

<div class="section section--white">
  <h1>FixMyStreet fights corruption in Malaysia</h1>
  <p>We know, we were surprised too! <a href="https://www.mysociety.org/2016/10/07/when-funds-go-missing-how-fixmystreet-is-helping-fight-corruption-in-malaysia/">Here’s how it happened.</a></p>
</div>

<div class="section section--white section--cities-mapit">
  <h1>MapIt helps people know their rights and campaign for better</h1>
  <p>This year we heard about some very worthwhile uses of <a href="https://mapit.mysociety.org/">MapIt</a>:</p>

  <ul>
    <li><a href="https://www.mysociety.org/2016/01/22/how-socialcareinfo-matches-people-to-resources/">Matching people to Social Care resources</a> – With such a patchwork of provision across the country, it’s not always easy to know what’s available in terms of social care. Now, users need only input a postcode to see exactly where their nearest resources can be found.</li>
    <li><a href="https://www.mysociety.org/2016/08/01/lasas-simplifying-universal-credit-with-mapit/">Simplifying Universal Credit</a> – The roll-out of Universal Credit has left many confused about what currently applies in their own area. MapIt to the rescue again: Lasa’s tool matches postcodes to information about the benefits you’re entitled to.</li>
    <li><a href="https://socialcare.leonardcheshire.org">Assessing cuts in community care</a> – The charity Leonard Cheshire used MapIt to show exactly how austerity is impacting different regions of the country in terms of community care. Enter your postcode into their tool to see the picture where you are.</li>
  </ul>
</div>

<div class="section section--cities-mapit2">
  <h2>What can MapIt do for you?</h2>
  <p>If you need to match postcodes to constituencies or any other type of point to boundaries, take a look at our <a href="http://mapit.mysociety.org/licensing">very reasonable terms</a>. MapIt’s API makes integration into your products or services a breeze, and our volume pricing structure means it’s within reach whatever the size of your project.</p>
</div>

<div class="section section--next">
  <a href="{{ site.baseurl }}/democracy/" class="button button--secondary">Next up: that’s better cities sorted, what about better democracy? <i class="fa fa-chevron-right"></i></a>
</div>
