---
layout: default
title: Better Cities
slug: cities
permalink: /cities/
---

<header class="section page-topper">
  <h1>Better Cities</h1>
  <p>FixMyStreet helps citizens <strong>report problems in their community</strong> to the authorities responsible for getting them fixed.</p>
  <p>But it’s also a whole lot more: a CRM for councils, for starters. And FixMyStreet’s extreme flexibility means that it’s been used for all kinds of projects, from <strong>cycle accident reporting</strong> to <strong>corruption-busting</strong>.</p>
</header>

<div class="section section--cities-stats">
  <div class="row">

    <div class="column-one-half">
      <div class="stat">
        <p class="stat__main">
          <span class="stat__number">81 million</span>
        </p>
        <p class="stat__comment">
          Look-ups on <a href="https://mapit.mysociety.org">MapIt</a>, our points-to-boundaries matching software.
        </p>
      </div>

      <div class="stat">
        <p class="stat__main">
          <span class="stat__number">207,770</span>
        </p>
        <p class="stat__comment">
          FixMyStreet reports, sent to 421 UK councils and transport bodies in 2016. That’s up almost 25% on last year.
        </p>
      </div>

      <div class="stat">
        <p class="stat__main">
          <span class="stat__number">1,195</span>
        </p>
        <p class="stat__comment">
          Reports of cycling accidents and near misses on <a href="https://www.mysociety.org/better-cities/case-study-collideoscope/">Collideoscope</a>.
        </p>
      </div>
    </div>

    <div class="column-one-half">

    </div>

  </div>
</div>

<div class="section section--centred">
  <h1>In 2016, FixMyStreet.com helped people like…</h1>

  <div class="row">
    <div class="column-one-half">
      {% include tweet.html user_display_name="Dan Stowell" user_handle="mclduk" tweet_html='Mattress lying in the road for a month. Reported it using <a href="https://twitter.com/fixmystreet">@FixMyStreet</a> -it’s gone the next day. Thanks <a href="https://twitter.com/TowerHamletsNow">@TowerHamletsNow</a>, thanks <a href="https://twitter.com/fixmystreet">@FixMyStreet</a>' tweet_url="https://twitter.com/mclduk/status/760844400456970240" date="3 Aug 2016"  %}
    </div>
    <div class="column-one-half">
      {% include tweet.html user_display_name="Tim Cowland" user_handle="TIM_SBIG" tweet_html='Amazing service from <a href="https://twitter.com/Herts_Highways">@Herts_Highways</a>. Faulty street lamp reported via <a href="https://twitter.com/fixmystreet">@fixmystreet</a> fixed with 34 mins of sending message. <a href="https://twitter.com/hashtag/speedoflight?src=hash">#speedoflight</a>' tweet_url="https://twitter.com/Tim_SBIG/status/725256139051536384" date="27 Apr 2016"  %}
    </div>
  </div>
  <div class="row">
    <div class="column-one-half">
      {% include tweet.html user_display_name="Eadlin" user_handle="DeeHants" tweet_html='<a href="https://twitter.com/mysociety">@mysociety</a>, your <a href="https://twitter.com/fixmystreet">@fixmystreet</a> app makes it so much easier to report issues. I found another 3 on today’s drive home!' tweet_url="https://twitter.com/DeeHants/status/722131033253089280" date="18 Apr 2016"  %}
    </div>
    <div class="column-one-half">
      {% include tweet.html user_display_name="Plexus Design" user_handle="plexusdesigner" tweet_html='<a href="https://fixmystreet.com">fixmystreet.com</a> 3 min form has fixed an issue that has been bugging me and my neighbours for months! Thank you! <a href="https://twitter.com/mysociety">@mysociety</a>' tweet_url="https://twitter.com/plexusdesigner/status/709519365603991552" date="14 Mar 2016"  %}
    </div>
  </div>
</div>

<div class="section">
  <h1>Huge improvements on FixMyStreet for Councils…</h1>
  <p>FixMyStreet has been totally transformed for some of our most important users: the council staff who receive reports.</p>
  <p>It’s now easier than ever for councils to <a href="http://fixmystreet.org/2016/12/07/v2.0-new-user-system/">manage user permissions</a>, <a href="http://fixmystreet.org/2016/11/15/v2.0/">inspect and mark up problems</a>, and much more.</p>
</div>

<div class="section section--flipped">
  <h1>…And for our community around the world</h1>
  <p>Since FixMyStreet is an open source project, many of the improvements we’ve made for our UK councils—like <a href="http://fixmystreet.org/2016/11/29/v2.0-html-emails/">HTML emails</a> and <a href="http://fixmystreet.org/2015/10/23/v1.7/">easy report filtering</a>—will also benefit our international re-users, entirely for free.</p>
</div>

<div class="section">
  <div class="row">

    <div class="column-one-half">
      <div class="stat">
        <p class="stat__main">
          <span class="stat__number">19</span>
          <span class="stat__name">countries</span>
        </p>
        <p class="stat__comment">
          Our <a href="http://fixmystreet.org/">FixMyStreet platform</a> is powering sites that help people improve their own community – from Malaysia to Uruguay, Zurich to Costa Rica.
        </p>
      </div>
    </div>

    <div class="column-one-half">
      <div class="stat">
        <p class="stat__main">
          <span class="stat__number">10</span>
          <span class="stat__name">local authorities</span>
        </p>
        <p class="stat__comment">
          That’s how many benefit from all the improvements we’ve made to our <a href="https://www.fixmystreet.com/council">FixMyStreet for Councils</a> service in 2016.
        </p>
      </div>
    </div>

  </div>
</div>

<div class="section">
  <h1>FixMyStreet fights corruption in Malaysia</h1>
  <p>We know, we were surprised too! <a href="https://www.mysociety.org/2016/10/07/when-funds-go-missing-how-fixmystreet-is-helping-fight-corruption-in-malaysia/">Here’s how it happened.</a></p>
</div>

<div class="section">
  <h1>MapIt helps people know their rights and campaign for better</h1>
  <p>This year we heard about some very worthwhile uses of <a href="https://mapit.mysociety.org/">MapIt</a>:</p>

  <ul>
    <li><a href="https://www.mysociety.org/2016/01/22/how-socialcareinfo-matches-people-to-resources/">Matching people to Social Care resources</a></li>
    <li><a href="https://www.mysociety.org/2016/08/01/lasas-simplifying-universal-credit-with-mapit/">Simplifying Universal Credit</a></li>
    <li><a href="https://socialcare.leonardcheshire.org">Assessing cuts in community care</a></li>
  </ul>
</div>

<div class="section section--next">
  <a href="{{ site.baseurl }}/democracy/" class="button button--secondary">Next up: that’s better cities sorted, what about better democracy? <i class="fa fa-chevron-right"></i></a>
</div>
