---
layout: default
title: Democracy
slug: democracy
permalink: /democracy/
---

<header class="section page-topper">
  <h1>Democracy</h1>
  <p>We help people in 12 countries to provide citizens with sites that keep an eye on their parliaments. Meanwhile, here in the UK, we run <strong>TheyWorkForYou</strong> and <strong>WriteToThem</strong>.</p>
  <p>But this year we’ve also been working on a massive initiative: the <strong>EveryPolitician</strong> project collects and shares data on politicians around the world so that anyone, anywhere, can use it for their own parliamentary monitoring site… or any other project.</p>
</header>

<div class="section section--white">
  <h1>We started the year with a democracy win for Costa Rica…</h1>
  <p>In January, YourNextRepresentative site <a href="https://www.mysociety.org/2016/01/29/crowd-sourcing-candidate-data-in-costa-rica-tusrepresentanteslocales/">TusRepresentantesLocales</a> launched in Costa Rica. It’s evolving into a permanent parliamentary monitoring project, QuinteRepresenta, which will cover the country’s mayors and councillors.</p>
  <!-- https://www.flickr.com/photos/ingmar/5244331998/in/album-72157625553765114/ -->
</div>

<div class="section section--flipped section--democracy-brexit">
  <h1>…And then things in the UK went a little crazy</h1>
  <p>In the rollercoaster of a week that the Brexit results were announced and David Cameron resigned, <strong>110,265 people visited TheyWorkForYou</strong> and <strong>44,990 accessed WriteToThem</strong>. That’s up to six times the usual traffic. Phew!</p>
  <p>Suddenly everyone was into politics. Fortunately, <a href="https://www.mysociety.org/2016/07/01/keeping-up-with-fast-moving-politics/">we were there for them</a>.</p>
  <p>We also added a <a href="https://www.mysociety.org/2016/01/25/you-asked-for-it-new-voting-lines-on-theyworkforyou/">whole swathe of new voting topics</a> to TheyWorkForYou, including an Environment section, so it’s now even easier to see how any MP cast their vote on the issues that matter to you.</p>
</div>

<div class="section section--white section--democracy-stats">
  <div class="row">

    <div class="column-one-half">
      <div class="stat">
        <p class="stat__main">
          <span class="stat__number">3.4 million</span>
          <span class="stat__name">pieces of data</span>
        </p>
        <p class="stat__comment">
          EveryPolitician now covers 71,934 politicians in 233 countries. Can you help us source data for <a href="http://everypolitician.org/needed.html">the last 12</a>?
        </p>
      </div>
    </div>

    <div class="column-one-half">
      <div class="stat">
        <p class="stat__main">
          <span class="stat__number">150,331</span>
          <span class="stat__name">UK, NI, and Scottish Parliament contributions</span>
        </p>
        <p class="stat__comment">
          In the UK Parliament alone, MPs and Lords racked up a total of 91,342 speeches – cramming in an extra 4,000 contributions compared to 2015.
        </p>
      </div>
    </div>

  </div>
</div>

<div class="section section--democracy-international">
  <h1>Meanwhile, around the world…</h1>
  <div class="row">
    <div class="column-one-half">
      <a class="screenshot" href="http://www.pa.org.za/">
        <img src="{{ site.baseurl }}/assets/img/thumbnail-pa-wide.jpg" width="800" height="320" alt="People’s Assembly">
      </a>
      <p>Do people feel more empowered after using South African PMO site <a href="http://www.pa.org.za/">People’s Assembly</a>? <strong>46% say yes.</strong> That’s&nbsp;up from 38% in 2015.</p>
      <p>Plus, some concerted user-centred design work from mySociety this year resulted in over 100% more visitors to People’s Assembly’s infographics and blog pages.</p>
    </div>
    <div class="column-one-half">
      <a class="screenshot" href="http://info.mzalendo.com">
        <img src="{{ site.baseurl }}/assets/img/thumbnail-mzalendo-wide.jpg" width="800" height="320" alt="Mzalendo">
      </a>
      <p>Just as in the USA, election fever in Kenya starts early, and <a href="http://info.mzalendo.com">Mzalendo</a> presented information from July, a <strong>full 13 months ahead</strong> of the August 2017 ballot date.</p>
      <p>And the work mySociety did on <a href="http://info.mzalendo.com/iebc-office-lookup">Mzalendo’s IEBC office locator</a> has been noted by the CEO at the Independent Electoral and Boundaries Commission — he loves it!</p>
    </div>
  </div>
  <div class="row">
    <div class="column-one-half">
      <a class="screenshot" href="http://www.odekro.org/">
        <img src="{{ site.baseurl }}/assets/img/thumbnail-odekro.jpg" width="800" height="320" alt="Odekro">
      </a>
      <p>At the request of our partners who run <a href="http://www.odekro.org/">Odekro</a> in Ghana, we added an API to Pombola so that researchers can better <strong>analyse the country’s parliamentary record</strong>. This is <a href="http://info.mzalendo.com/api/v0.1/">live for Mzalendo in Kenya</a>, and will be coming to Odekro soon.</p>
    </div>
    <div class="column-one-half">
      <a class="screenshot" href="http://info.mzalendo.com">
        <img src="{{ site.baseurl }}/assets/img/thumbnail-mzalendo-survey.jpg" width="800" height="320" alt="Mzalendo Facebook survey page">
      </a>
      <p><strong>Can Facebook increase political participation?</strong> That’s what we’re hoping to find out, with the help of over 6,000 surveys on the site. Preliminary findings are positive – Watch this space for more!</p>
    </div>
  </div>
</div>

<div class="section section--centred section--democracy-wazzock">
  <h1>Wazzock</h1>
</div>

<div class="section section--centred section--white">
  <p>Earlier this year, we spotted the UK Parliament’s first, and only, use of the word “wazzock”.</p>
  <p><a href="https://www.mysociety.org/2016/01/19/do-a-friend-a-favour-point-them-towards-the-donald-trump-debate/">Can you guess which contentious figure</a> the MP was referring to?</p>
</div>

<div class="section section--no-padding">
  <img src="{{ site.baseurl }}/assets/img/epbot.jpg" alt="" style="width: 100%;">
</div>

<div class="section section--white">
  <h1>Not every team member is a human</h1>
  <p>The EveryPolitician dataset has grown dramatically in 2016, quickly becoming the richest open dataset on politicians in the world.</p>
  <p>But we can’t take <em>all</em> the credit for looking after all that politician data — that’s the job of our hardworking little friend, <a href="https://www.mysociety.org/2016/04/21/introducing-everypoliticians-bot/">the EveryPolitician Bot</a>.</p>
</div>

<div class="section section--no-padding">
  <img src="{{ site.baseurl }}/assets/img/woc-in-tech-blue.jpg" alt="" style="width: 100%;">
</div>

<div class="section section--white">
  <h1>WriteToThem and campaigning</h1>
  <p>Did you know that you can put WriteToThem’s functionality right onto any website? That’s what <a href="https://www.mysociety.org/democracy/writetothem/case-study-stepchange/">anti-debt charity Stepchange did</a>.</p>
</div>

<div class="section section--democracy-responsiveness">
  <h1>Tracking MP responsiveness in the UK</h1>
  <div class="row">
    <div class="column-one-half">
      <p>WriteToThem users sent over <strong>207,668 emails</strong> to their councillors, MPs or other elected representatives in 2016.</p>
      <p>Two weeks later, we ask them if they got a reply, and every year, the results make up our <a href="https://www.writetothem.com/stats/2015/mps">Responsiveness League Table</a> for the previous twelve months.</p>
      <p><a class="button button--secondary" href="https://www.writetothem.com/stats/2015/mps">How responsive is your MP?</a></p>
    </div>
    <div class="column-one-half">
      <div class="wtt-mp">
        <h4>Most responsive MP</h4>
        <img src="{{ site.baseurl }}/assets/img/jason-mccartney.jpg">
        <p>Jason McCartney, Colne Valley</p>
        <p class="wtt-mp__change wtt-mp__change--up">Up 9 places from last year</p>
      </div>
      <div class="wtt-mp">
        <h4>Least responsive MP</h4>
        <img src="{{ site.baseurl }}/assets/img/david-burrowes.jpg">
        <p>David Burrowes, Enfield, Southgate</p>
        <p class="wtt-mp__change wtt-mp__change--down">Down 322 places from last year</p>
      </div>
    </div>
  </div>
</div>

<div class="section section--centred section--democracy-tweets">
  <h1>People and democracy</h1>

  <div class="row">
    <div class="column-one-half">
      {% include tweet.html user_display_name="Felix Morgan" user_handle="felixjmorgan" tweet_html='<a href="https://twitter.com/theyworkforyou">@TheyWorkForYou</a> you guys should know, you’ve massively changed how i engage with politics (for the better). much love, youre doing big tings' tweet_url="https://twitter.com/felixjmorgan/status/756090599091101696" date="21 Jul 2016" %}
    </div>
    <div class="column-one-half">
      {% include tweet.html user_display_name="Lucy" user_handle="health_lucy" tweet_html='If you haven’t seen <a href="https://twitter.com/hashtag/TheyWorkForYou?src=hash">#TheyWorkForYou</a> website check it out <a href="http://ow.ly/XCFd30673oU">http://ow.ly/XCFd30673oU</a> Amazing what you can find out about your Local Gov &amp; UK Gov' tweet_url="https://twitter.com/health_lucy/status/798542434347130880" date="15 Nov 2016" %}
    </div>
  </div>

  <div class="row">
    <div class="column-one-half">
      {% include tweet.html user_display_name="Georgie Barrat" user_handle="GeorgieBarrat" tweet_html='Tech can revolutionise politics by making things more transparent. The site <a href="https://twitter.com/theyworkforyou">@TheyWorkForYou</a> simply states what your MP is up to / voting' tweet_url="https://twitter.com/GeorgieBarrat/status/692299864399597568" date="27 Jan 2016" %}
    </div>
    <div class="column-one-half">
      {% include tweet.html user_display_name="esimeat" user_handle="esimeat" tweet_html='<a href="https://twitter.com/hashtag/TheyWorkForYou?src=hash">#TheyWorkForYou.com</a> what a great site if you wanna know more about any of our representatives. Do check it out..' tweet_url="https://twitter.com/esimeat/status/725023881883439104" date="26 Apr 2016" %}
    </div>
  </div>

</div>

<div class="section section--next">
  <a href="{{ site.baseurl }}/help/" class="button button--secondary">Next up: A big thank you to our supporters <i class="fa fa-chevron-right"></i></a>
</div>