---
layout: default
title: Freedom of Information
slug: foi
permalink: /foi/
---

<header class="section page-topper">
  <h1>Freedom of Information</h1>
  <p>Alaveteli is our software for running Freedom of Information websites. It’s currently helping people in <strong>25 jurisdictions</strong> to submit FOI requests and publish the responses. Between them, these sites have processed and published <strong>over 407,500 requests</strong>.</p>
</header>

<div class="section section--white">
  <h1>Leading the pack</h1>
  <p>A special shout out to <a href="https://fyi.org.nz/">FYI</a> in New Zealand, <a href="http://imamopravoznati.org/">Imamo Pravo Znati</a> in Croatia, <a href="https://dostup.pravda.com.ua/">Dostup Pravda</a> in Ukraine, <a href="https://www.asktheeu.org/">AskTheEU</a> in Europe, <a href="https://www.righttoknow.org.au/">Right To Know</a> in Australia, and <a href="http://kimittud.atlatszo.hu/">KiMitTud</a> in Hungary, which are all making a big splash.</p>
</div>

<div class="section section--no-padding section--foi-slideshow">
  <div class="slideshow js-slideshow">
    <div class="slideshow__inner">
      <div class="slideshow__slide">
        <div class="screenshot">
          <img src="{{ site.baseurl }}/assets/img/thumbnail-fyi.png" width="300" height="200" alt="FYI.org.nz">
        </div>
      </div>
      <div class="slideshow__slide">
        <div class="screenshot">
          <img src="{{ site.baseurl }}/assets/img/thumbnail-ipz.png" width="300" height="200" alt="Imamo Pravo Znati">
        </div>
      </div>
      <div class="slideshow__slide">
        <div class="screenshot">
          <img src="{{ site.baseurl }}/assets/img/thumbnail-dostup-pravda.png" width="300" height="200" alt="Dostup Pravda">
        </div>
      </div>
      <div class="slideshow__slide">
        <div class="screenshot">
          <img src="{{ site.baseurl }}/assets/img/thumbnail-asktheeu.png" width="300" height="200" alt="AskTheEU">
        </div>
      </div>
      <div class="slideshow__slide">
        <div class="screenshot">
          <img src="{{ site.baseurl }}/assets/img/thumbnail-rtk.png" width="300" height="200" alt="Right To Know">
        </div>
      </div>
      <div class="slideshow__slide">
        <div class="screenshot">
          <img src="{{ site.baseurl }}/assets/img/thumbnail-kimittud.png" width="300" height="200" alt="KiMitTud">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section--white section--foi-new">
  <h1>And brand new this year!</h1>
  <div class="row">
    <div class="column-one-half">
      <div class="screenshot">
        <img src="{{ site.baseurl }}/assets/img/thumbnail-fraga-staten.jpg" width="800" height="320" alt="Fraga Staten">
      </div>
      <p>FOI was first conceived in <strong>Sweden</strong>, so how better to mark its anniversary than by <a href="https://www.mysociety.org/2016/09/28/celebrating-250-years-of-foi-in-sweden-with-the-launch-of-fragastaten/">launching an Alaveteli site for the nation?</a></p>
    </div>
    <div class="column-one-half">
      <div class="screenshot">
        <img src="{{ site.baseurl }}/assets/img/thumbnail-transparencia.jpg" width="800" height="320" alt="Transparencia.be">
      </div>
      <p>In <strong>Belgium</strong>, <a href="https://www.mysociety.org/2016/10/28/transparencia-bringing-transparency-to-belgium/">Transparencia.be</a> is highlighting authorities that don’t fulfil their transparency obligations.</p>
    </div>
  </div>
  <div class="row">
    <div class="column-one-half">
      <div class="screenshot">
        <img src="{{ site.baseurl }}/assets/img/thumbnail-infolib.jpg" width="800" height="320" alt="InfoLib">
      </div>
      <p>InfoLib is a website for <strong>Liberia</strong>, where many are offline. <a href="https://www.mysociety.org/projects/freedom-of-information/alaveteli/case-study-infolib-liberia/">How on earth does that work?</a></p>
    </div>
    <div class="column-one-half">
      <div class="screenshot">
        <img src="{{ site.baseurl }}/assets/img/thumbnail-queremos-datos.jpg" width="800" height="320" alt="Queremos Datos">
      </div>
      <p>And <a href="https://www.queremosdatos.co/">Queremos Datos</a> represents a new channel of open information for <strong>Colombia</strong>.</p>
    </div>
  </div>
</div>

<div class="section section--foi-stats">
  <div class="row">

    <div class="column-one-half">
      <div class="stat">
        <p class="stat__main">
          <span class="stat__number">250</span>
          <span class="stat__name">years</span>
        </p>
        <p class="stat__comment">
          That’s how old the concept of Freedom of Information is. Still looking good.
        </p>
      </div>
    </div>

    <div class="column-one-half">
      <div class="stat">
        <p class="stat__main">
          <span class="stat__number">79%</span>
          <span class="stat__name">success rate</span>
        </p>
        <p class="stat__comment">
          Yep, 79% of FOI requests on WhatDoTheyKnow result in some (if not all) information being released.
        </p>
      </div>
    </div>

  </div>
</div>

<div class="section section--centred section--foi-tweets">
  <h1>But don’t take our word for it…</h1>

  <div class="row">
    <div class="column-one-half">
      {% include tweet.html user_display_name="Gwen Swinburn" user_handle="GSwinburn" tweet_html='Thank you <a href="https://twitter.com/mysociety">@mysociety</a> &amp; <a href="https://twitter.com/WhatDoTheyKnow">@WhatDoTheyKnow</a> without you &amp; <a href="https://twitter.com/hashtag/foi?src=hash">#foi</a> we in <a href="https://twitter.com/hashtag/York?src=hash">#York</a> would never have exposed this can of worms: <a href="https://twitter.com/GSwinburn/status/703997977531170816">twitter.com/GSwinburn/status/7039979…</a>' tweet_url="https://twitter.com/GSwinburn/status/705354804109971456" date="3 Mar 2016" %}
    </div>
    <div class="column-one-half">
      {% include tweet.html user_display_name="Halina Ward" user_handle="halinaward" tweet_html='Thanks <a href="https://twitter.com/WhatDoTheyKnow">@WhatDoTheyKnow</a> for a successful request. V helpful. You’ve helped residents fight a crazy bus plan <a href="https://twitter.com/hashtag/handsoffRPH?src=hash">#handsoffRPH</a>. <a href="https://twitter.com/TfL">@tfl</a> request next' tweet_url="https://twitter.com/halinaward/status/711198062195175424" date="19 Mar 2016"  %}
    </div>
  </div>

  <div class="row">
    <div class="column-one-half">
      {% include tweet.html user_display_name="Tom Chant" user_handle="Thomas_Chant" tweet_html='Just been made aware of the fascinating <a href="https://twitter.com/WhatDoTheyKnow">@WhatDoTheyKnow</a> site. Of course it SHOULD exist, but still pretty wowed that it actually does.' tweet_url="https://twitter.com/Thomas_Chant/status/717809135627141120" date="6 Apr 2016"  %}
    </div>
    <div class="column-one-half">
      {% include tweet.html user_display_name="StrayTaoist" user_handle="StrayTaoist" tweet_html='I love <a href="https://twitter.com/WhatDoTheyKnow">@WhatDoTheyKnow</a> truly a great service.' tweet_url="https://twitter.com/StrayTaoist/status/707576621348364288" date="9 Mar 2016"  %}
    </div>
  </div>

</div>

<div class="section section--white section--foi-commission">
  <h1>FOI remains a right in the UK</h1>
  <p>It looked worrying for a moment there back in November 2015. But in March this year, the government commission on Freedom of Information <a href="https://www.mysociety.org/2016/03/01/uk-foi-charge-ruled-out/">reported their findings</a>. Not only were current rights upheld, but <a href="https://www.whatdotheyknow.com/">WhatDoTheyKnow</a> was validated with the statement that:</p>

  <blockquote class="testimonial">
    <p class="testimonial__quote">publishing responses to requests should be the norm.</p>
  </blockquote>

  <p>Obviously, we think so too…</p>
</div>

<div class="section section--white section--flipped section--foi-journalists">
  <h1>A service for journalists</h1>
  <p>We announced the start of work on <a href="https://www.mysociety.org/freedom-of-information/alaveteli-professional/">Alaveteli Professional</a>, a toolset for investigative journalists and other activists. After consulting several journalists and FOI officers in the UK and Czech Republic, we began coding. <a href="https://www.mysociety.org/freedom-of-information/alaveteli-professional/">Sign up here</a> if you’d like the news on Alaveteli Professional as it happens.</p>
</div>

<div class="section section--centred section--foi-difference">
  <h1>Alaveteli sites really make a difference</h1>
  <p>Have you seen <a href="https://www.mysociety.org/2016/05/19/stories-of-alaveteli-what-has-been-revealed-through-freedom-of-information-sites-around-the-world-part-1/">these incredible stories</a> of just what they’ve uncovered around the world?</p>
  <p>And a few more discoveries closer to home…</p>
</div>

<div class="section section--foi-scoops">
  <div class="row">
    <a href="https://www.mysociety.org/2016/04/20/west-ham-stadium-ruling-a-win-for-transparency/">
      <h2>“My dog could have negotiated a better deal for the taxpayer.”</h2>
      <p>The West Ham stadium contract is opened up on WhatDoTheyKnow.</p>
    </a>
    <a href="https://www.mysociety.org/2016/12/07/freedom-of-information-and-asbestos-in-schools/">
      <h2>“Without WhatDoTheyKnow I wouldn’t have been able to collect the data.”</h2>
      <p>Lucie Stephens is uncovering which schools contains asbestos.</p>
    </a>
    <a href="https://www.mysociety.org/2016/05/12/does-your-council-break-the-law/">
      <h2>“Does your council break the law?”</h2>
      <p>Using FOI to uncover which councils aren’t paying their ‘sleep-in’ workers a fair wage.</p>
    </a>
  </div>
</div>

<div class="section section--white section--centred">
  <h1>And we have the research to prove it</h1>
  <p>mySociety’s Research Team found plenty to look at in the world of FOI. This year:</p>
  <ul class="foi-research">
    <li>We analysed the subjects people make requests about <a href="https://www.mysociety.org/2016/05/18/what-people-want-to-know-on-whatdotheyknow/">on WhatDoTheyKnow</a>.</li>
    <li>We looked into <a href="https://www.mysociety.org/2016/05/10/do-authorities-respond-faster-by-post-or-through-an-foi-website-our-latest-research/">whether direct emails get a better response</a> than requests sent via a website.</li>
    <li>We ran <a href="https://www.mysociety.org/2016/10/11/asking-questions-in-public-the-alaveteli-experiments/">experiments galore</a>, and found out how to make Alaveteli sites more impactful.</li>
    <li>And we asked <a href="https://www.mysociety.org/2016/10/19/what-do-we-know-about-the-eu-referendum/">whether Brexit had made a difference</a> to the requests people make.</li>
  </ul>
</div>

<div class="section section--white section--foi-250-years">
  <h1>Wait… 250th anniversary, you say?</h1>
  <p>We thought 250 years of FOI deserved a bit of a fuss. So we celebrated by <a href="https://www.mysociety.org/2016/09/26/journalists-celebrate-freedom-of-information-uk/">talking to journalists all over the world</a>, and whipping up a nice Twitter storm with the help of our partners.</p>
  <p>But that’s not all. We’d like to think we were the only organisation to also <a href="https://www.mysociety.org/2016/09/22/come-and-see-finnish-freedom-of-information-cartoonists/">invite two Finnish comic book artists to the UK</a> to talk about Anders Chydenius, the forefather of FOI.</p>
</div>

<div class="section section--next">
  <a href="{{ site.baseurl }}/cities/" class="button button--primary">Next up: what we’re doing to make your cities better <i class="fa fa-chevron-right"></i></a>
</div>