<li class="
  {% if page.slug == "welcome" %}active{% endif %}
">
  <a href="{{ site.baseurl }}/">Introduction</a>
</li>
<li class="figures
  {% if page.slug == "figures" %}active{% endif %}
">
  <a href="{{ site.baseurl }}/numbers/">In numbers</a>
</li>
<li class="foi
{% if page.slug == "foi" %}active{% endif %}
">
  <a href="{{ site.baseurl }}/transparency/">Transparency</a>
</li>
<li class="democracy
{% if page.slug == "democracy" %}active{% endif %}
">
  <a href="{{ site.baseurl }}/democracy/">Democracy</a>
</li>
<li class="cities
{% if page.slug == "cities" %}active{% endif %}
">
  <a href="{{ site.baseurl }}/community/">Community</a>
</li>
<li class="help
{% if page.slug == "help" %}active{% endif %}
">
  <a href="{{ site.baseurl }}/and-finally/">And finally</a>
</li>
<li class="donate">
  <a href="https://www.mysociety.org/donate/">Donate</a>
</li>