
.title-panel  {
  @media (min-width: $large-screen) {
    padding-top: 180px;
  }
}

.title-panel--has-background {
  padding-top: 100px;
  @media (min-width: $large-screen) {
    padding-top: 360px;
  }
  .page-topper {
    border-bottom: 0;
    padding-bottom: 2em;
    color: #fff;
    text-shadow: 0 5px 20px rgba(#000, 0.4);
    @media (min-width: $large-screen) {
      text-shadow: none;
    }
  }
}

.title-panel--welcome {
  background-image: url('../img/welcome-team-photo2.jpg');
  background-repeat: no-repeat;
  background-color: $colour_green;
  background-size: cover;
  background-position: center;
}

.page-topper {
  border-bottom: 10px solid $colour_black;
  position: relative;
  @extend %content-panel;
}

.page-topper__title {
  margin-bottom: 0.25em;

  //We want the size of the title to scale with the window, up to a max of 108px
  font-size: 5.4em; //older browsers
  font-size: calc(2em + 6vw); //set minimum
  position: relative;
  z-index: 1;
  @media (min-width: 62.9em ) {
    font-size: 5.4em;
  }
}

.page-topper__subtitle {
  font-size: 1.9em;
  font-weight: $body_typeface_black;
  line-height: 1.2em;
  position: relative;
  z-index: 1;
}


.page-topper__background {
  position: absolute;
  top: -150px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  background-image: url('../img/circles-1.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
  @media(min-width: $medium_screen) {
    background-size: cover;
    background-position: top center;
  }
}
