%content-panel {
  padding-left: 27px;
  padding-right: 27px;
  @media (min-width: $large-screen) {
    padding-left: 80px;
    padding-right: 80px;
   }
}



.section {
  display: block; // sections can be <a> elements sometimes!
  @extend %content-panel;
  width: 100%;
  clear: both;
  padding-top: 2em;
  padding-bottom: 2em;

  @media (min-width: $huge-screen) {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 5em;
  }

  a {
    text-decoration: underline;
    font-weight: $body_typeface_bold;

    &:hover,
    &:focus {
      color: $colour_black;
    }
  }

  & > .row {
    width: auto;
  }
}

.section--no-padding {
  padding: 0;
}

.section--no-vertical-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.section--centred {
  text-align: center;

  & > * {
    width: auto;
  }
}

@media (min-width: $large-screen){
  .section--flipped {
    @include clearfix();

    & > * {
      clear: right;
      float: right;
    }
  }
}

.section--impactful {
  padding-top: 2em;
  padding-bottom: 2em;

  @media (min-width: $large-screen) {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  @media (min-width: $huge-screen) {
    padding-top: 7%;
    padding-bottom: 7%; 
  }
}

.section--narrow {  
  @media (min-width: $large-screen) {
    padding-left: 5em;
    padding-right: 5em;
  }
  @media (min-width: $full-width) {
    padding-left: 10em;
    padding-right: 10em;
  }
}

.section--fms-pro {
  background-color: #FED876;
  a {
    color: rgba(0,0,0,0.7);
  }
}

.section--inverted {
  color: #fff; 
  background-color: #333;
  a {
    color: rgba(255,255,255,0.7);
    &:hover,
    &:active,
    &:focus {
      color: #fff;
    }
  }
}

.section--white {
  & + & {
    border-top: 1px solid $colour_light_grey;
  }
}

.section--next {
  @extend .section--centred;

  .button .fa {
    margin-left: 0.6em;
    vertical-align: -0.05em;
  }
}

.section--alltrials {
  background-color: #E74040;
  h2 {
    @media (min-width: $huge-screen) {
      margin-top: 0.5em;
    }
    @media (min-width: 70em) {
      margin-top: 1.4em;
    }
  }
}

.section--borsetshire {
  h2 {
    @media (min-width: $huge-screen) {
      margin-top: 0.5em;
    }
    @media (min-width: 70em) {
      margin-top: 1.4em;
    }
  }
}

.section--robots {
  border-top: 1px solid $colour_light_grey;
  .column-one-third {
    position: relative;
    text-align: center;
  }
}

.fms-robot {
  max-height: 400px;
  @media (min-width: $huge-screen) {
    position: absolute;
    top: -120px;
    left: 0;
  }
}

.section--wdtkpro {
  background-image: linear-gradient(-46deg, #4C888F 0%, #4C888F 9%, #365B74 63%);
}

.section--stories-from-wdtk {
  border-top: 1px solid $colour_light_grey;
  > h3, h2 {
    text-align: center;
  }
  h3 {
    margin-bottom: 2em;
  }
  h2 {
    margin-bottom: 1.5em;
  }
}

.section--opra {
  background-image: url('../img/opra-background.jpg');
  @include background-section();
}

.section--many-requests {
  background-image: url('../img/books-background.jpg');
  @include background-section();
  @include featured-stat();
  a {
    color: #fff;
    &:hover,
    &:active,
    &:focus {
      color: #fff;
    }
  }
}

.section--fms-birthday {
  background-color: $colour_off_white;
  border-top: 1px solid $colour_light_grey;
  border-bottom: 1px solid $colour_light_grey;
  @media (min-width: $huge-screen) {
    margin: 3em 0 0;
  }
}

.fms-birthday-cake {
  max-width: 250px;
  margin: 0 auto;
  display: block;
  width: 100%;
  @media (min-width: $huge-screen) {
    position: relative;
    bottom: 110px;
    margin-bottom: -300px;
    max-width: none;
    display: inline-block;
  }
  @media (min-width: $full-width) {
    bottom: 170px;
    margin-bottom: -300px;
  }

}

.section--better-cities-tweets {
  @include background-section();
  background-image: url('../img/fms-map-blue.jpg');
  @media (min-width: $huge-screen) {
    padding-top: 5em;
  }
}

.section--apis {
  border-top: 1px solid $colour_light_grey;
  padding-bottom: 1em;
  h2 {
    @media (min-width: $huge-screen) {
      margin-top: 0.5em;
    }
    @media (min-width: 70em) {
      margin-top: 1em;
    }
  }
  p {
    max-width: 24em;
  }
}

.section--tictec-header {
  background-image: url('../img/tictec-header.jpg');
  @include background-section();
  background-position: top right;
  @include featured-stat();
}

.section--tictec-quote {
  background-color: #f5fbee;
  a {
    color: $colour_green;
  }
  .blockquote {
    color: $colour_green;
  }
}

.section--tictec-tweets {
  background-image: url('../img/tictec-background.jpg');
  @include background-section();
}

.section--parliament {
  background-image: url('../img/parliament-background.jpg');
  @include background-section();
  background-position: center right;
  .blockquote {
    font-size: 1.7em;
  }
}

.section--wikidata,
.section--glow {
  border-top: 1px solid $colour_light_grey;
}

.wikidata-logo {
  display: block;
  max-width: 250px;
  margin: 0 auto;
}

.section--iran {
  background-color: #574db0;
}

.section--youth-outreach {
  .column-one-third {
    text-align: center;
  }
}

.youth-outreach-badges {
}

.section--twfy-video {
  background-color: #87b9d2;
  text-align: center;

  & > div {
    max-width: 600px;
    margin: 0 auto;
  }

  iframe {
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
  }
}

.section--snap-election {
  background-image: url('../img/bigben-background.jpg');
  @include background-section();
  .limit-text {
    margin-left: 0;
  }
}

.section--research-travel {
  background: mix($colour_blue, #fff, 15%) url(../img/map.png) 50% 55% no-repeat;
  background-size: auto 150%;
  background-image: url(../img/map.svg), none;
  border-top: 1px solid mix($colour_blue, #fff, 15%);
}

.section--where-have-you-worked {
  background-color: $colour_off_white;
  background-image: url('../img/chatlike-bg.svg');
  @include section--flush-edged-two-thirds();
  background-size: 225px;
  .chat-like {
    padding: 1.5em;
    @media (min-width: $large-screen) {
      padding: 3em;
    }
  }
}

.where-have-you-worked__photo {
  background-color: $colour_green;
  background-image: url('../img/where-photo.jpg');
  @include background-section();
  min-height: 30em;

}

.section--funders {
  
}

.funders-list {
  margin-bottom: 2em;
}

.section--share {
  .button + .button {
    margin-left: 1em;
  }
}

.section--big-love {
  background-color: $colour_red;
  background-image: url('../img/heart-stack.png');
  background-size: 461px 431px;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.big-message-of-love {
  text-align: center;
  margin: 0.5em 0 1em;
  font-size: 2em;
}

.donation-amounts {
  margin: 1.5em 0;
}

.donation-amounts-heading {
  margin-top: 1.5em;
  text-align: center;
}

.section--pombolas {
  h2 {
    text-align: center;
  }
}

.pombolas-screenshot {
  margin-bottom: 2em;
}

.section--donate {
  @include background-section();
  background-position: left bottom;
  background-image: url('../img/donate-bg.jpg');
}

.donate-call-to-action {
  text-align: center;
  max-width: 30em;

  background-color: $colour_red;
  padding: 1.5em;
  color: #fff;
  border-radius: 5px;
  @media (min-width: $medium-screen) {
    margin: 2em auto 2em 50%;
    padding: 2em 3em;
  }
}

.button--donate {
  color: #fff;
  background-color: darken($colour_red, 20%);
  
  &:hover,
  &:active,
  &:focus {
    color: #fff !important;
    background-color: $colour_black;
  }
}

.section--donors {
  position: relative;
  text-align: center;
}

.donors-message {
  text-align: left;
  max-width: 30em;
}

.donors-balloons-two {
  width: 50%;
  float: left;
  @media (min-width: $huge-screen) {
    width: 15%;
    position: absolute;
    left: 60px;
    top: 20px;
  }
  @media (min-width: $full-width) {
    width: 300px;
  }
}

.donors-balloons-one {
  width: 50%;
  float: right;
  @media (min-width: $huge-screen) {
    width: 15%;
    position: absolute;
    right: 60px;
    top: 13px;
  }
  @media (min-width: $full-width) {
    width: 300px;
  }
}

.section--loyal-visitors {
  background-color: $colour_off_white;
  @include section--flush-edged-two-thirds();
}

.loyal-visitors--background {
  background-color: $colour_red;
  min-height: 20em;
  @include background-section();
  background-image: url('../img/loyal-background.jpg');
}

.loyal-visitors--content {
  padding: 3em 2em;
}

.section--sponsor-tictec {
  background-color: #f5fbee;
  margin-bottom: 3em;
  text-align: center;
  @media (min-width: $huge-screen) {
    text-align: left;
  }
  p {
    margin-bottom: 0;
  }
  .column-one-third {
    position: relative;
    text-align: center;
  }
}

.sponsor-tictec--image {
  clip-path: polygon(50% 0,100% 25%,100% 75%,47% 100%,0 75%,0 25%);
  width: 250px;
  @media (min-width: $huge-screen) {
    position: absolute;
    top: -120px;
    left: 0;
    margin: 0;
  }
}

.section--2018 {
  background-color: $colour_blue;
  background-image: url('../img/rocket.png');
  background-image: url('../img/rocket.svg'), linear-gradient(-180deg, #4FADED 22%, #3083BA 100%);

  background-position: right bottom;
  background-repeat: no-repeat;
  color: #fff;
  .limit-text {
    margin-left: 0;
    padding-bottom: 2em;
  }
}