%content-panel {
  padding-left: 27px;
  padding-right: 27px;
  @media (min-width: $large-screen) {
    padding-left: 80px;
    padding-right: 80px;
   }
}



.section {
  display: block; // sections can be <a> elements sometimes!
  @extend %content-panel;
  width: 100%;
  clear: both;
  padding-top: 2em;
  padding-bottom: 2em;

  @media (min-width: $huge-screen) {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 5em;
  }

  a {
    text-decoration: underline;
    font-weight: $body_typeface_bold;

    &:hover,
    &:focus {
      color: $colour_black;
    }
  }

  & > .row {
    width: auto;
  }
}

.section--no-padding {
  padding: 0;
}

.section--centred {
  text-align: center;

  & > * {
    width: auto;
  }
}

@media (min-width: $large-screen){
  .section--flipped {
    @include clearfix();

    & > * {
      clear: right;
      float: right;
    }
  }
}

.section--impactful {
  padding-top: 2em;
  padding-bottom: 2em;

  @media (min-width: $large-screen) {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  @media (min-width: $huge-screen) {
    padding-top: 7%;
    padding-bottom: 7%; 
  }
}

.section--narrow {  
  @media (min-width: $large-screen) {
    padding-left: 5em;
    padding-right: 5em;
  }
  @media (min-width: $full-width) {
    padding-left: 10em;
    padding-right: 10em;
  }
}

.section--fms-pro {
  background-color: #FED876;
  a {
    color: rgba(0,0,0,0.7);
  }
}

.section--inverted {
  color: #fff; 
  background-color: #333;
  a {
    color: rgba(255,255,255,0.7);
    &:hover,
    &:active,
    &:focus {
      color: #fff;
    }
  }
}

.section--white {
  & + & {
    border-top: 1px solid $colour_light_grey;
  }
}

.section--next {
  @extend .section--centred;

  .button .fa {
    margin-left: 0.6em;
    vertical-align: -0.05em;
  }
}

.section--alltrials {
  background-color: #E74040;
  h2 {
    @media (min-width: $huge-screen) {
      margin-top: 0.5em;
    }
    @media (min-width: 70em) {
      margin-top: 1.4em;
    }
  }
}

.section--wdtkpro {
  background-image: linear-gradient(-46deg, #4C888F 0%, #4C888F 9%, #365B74 63%);
}

.section--stories-from-wdtk {
  > h3, h2 {
    text-align: center;
  }
  h3 {
    margin-bottom: 2em;
  }
  h2 {
    margin-bottom: 1.5em;
  }
}

.section--wdtk-birthday {
  @include flexbox();
  @include flex-align-items(center);
  @include flex-justify-content(space-between);
  flex-flow: row wrap; 
  border-top: 1px solid $colour_light_grey;
  h2 {
    color: $colour_orange;
  }
}

.wdtk-birthday-balloons-one,
.wdtk-birthday-balloons-two {
  margin: 0 auto;
  @media (min-width: $medium-screen) {
    width: 20%;
  }

}

.wdtk-birthday-balloons-two {
  display: none;
  @media (min-width: $medium-screen) {
    display: block;
  }
}

.wdtk-birthday-message {
  text-align: center;
  @media (min-width: $medium-screen) {
    width: 60%;
  }
}

.section--opra {
  background-image: url('../img/opra-background.jpg');
  @include background-section();
}

.section--fms-birthday {
  background-color: $colour_off_white;
  border-top: 1px solid $colour_light_grey;
  border-bottom: 1px solid $colour_light_grey;
  @media (min-width: $huge-screen) {
    margin: 3em 0;
  }
}

.fms-birthday-cake {
  max-width: 250px;
  margin: 0 auto;
  display: block;
  width: 100%;
  @media (min-width: $huge-screen) {
    position: relative;
    bottom: 110px;
    margin-bottom: -300px;
    max-width: none;
    display: inline-block;
  }
  @media (min-width: $full-width) {
    bottom: 170px;
    margin-bottom: -300px;
  }

}

.section--apis {
  border-top: 1px solid $colour_light_grey;
  h2 {
    font-size: 1.8em;
    @media (min-width: $huge-screen) {
      text-align: right;
      position: relative;
      top: -12px; //put the baseline on the same level as the content text
    }
  }
  p {
    max-width: 24em;
  }
}

.section--tictec-header {
  background-image: url('../img/tictec-header.jpg');
  @include background-section();
  background-position: top right;
  .stat {
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    text-shadow: 0 0 5px rgba(0,0,0,0.7);
    .stat__main {
      border: 0;
    }
  }

  .stat__name {
    @media (min-width: $large-screen) {
      font-size: 2em;
    }
  }

  .stat__number {
    font-size: 7em;
  }
}

.section--tictec-quote {
  background-color: #f5fbee;
  .blockquote {
    color: $colour_green;
  }
}

.section--tictec-tweets {
  background-image: url('../img/tictec-background.jpg');
  @include background-section();
}

.section--parliament {
  background-image: url('../img/parliament-background.jpg');
  @include background-section();
  background-position: center right;
  .blockquote {
    font-size: 1.7em;
  }
}

.section--iran {
  background-color: #574db0;
}

.section--youth-outreach {

}

.section--twfy-video {
  background-color: #87b9d2;
  text-align: center;
  .flex-video iframe {
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
  }
}

.section--snap-election {
  background-image: url('../img/bigben-background.jpg');
  @include background-section();
  .limit-text {
    margin-left: 0;
  }
}

.section--where-have-you-worked {
  background-color: $colour_off_white;
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: repeat(3, 1fr);
  @media (min-width: $large-screen) {
    grid-template-rows: 2;
  }
  .chat-like {
    padding: 1.5em;
    @media (min-width: $large-screen) {
      padding: 3em;
    }
  }
}

.where-have-you-worked__photo {
  background-color: $colour_green;
  background-image: url('../img/where-photo.jpg');
  @include background-section();
  min-height: 30em;
  grid-area: 1 / 1 / 1 / 4;
  @media (min-width: $large-screen) {
    grid-area: 1 / 1 / 1 / 2;
    min-height: none;
  }
}

.where-have-you-worked__content {
  grid-area: 2 / 1 / 3 / 4;
  @media (min-width: $large-screen) {
    grid-area: 1 / 2 / 1 / 4;
  }
}