.footer {
  margin: 1em 0;
  @extend %content-panel;
}

.footer-nav {
  a {
    color: $colour_dark_grey;
    font-size: 0.75em;
  }
  .right {
    @media (min-width: $huge_screen) {
      float: right;
    }
  }
}