// This file is a little complex, as the nav is a major part of the site,
// and dramatically changes its appearance as the screen size changes.

// On narrow screens without javascript, it sits full-width, above the
// page content.
// On narrow screens *with* javascript, it remains full-width, but appears
// overlaid on top of the page content and is summoned and dismissed by
// clicking a toggle button on the page.
// On all other screens, it sits as a sidebar to the left of the page
// content. By default it occupies as little space as possible, but as
// the window gets wider and taller, the links become wider and taller.

@each $slug, $colour in $sections {
  .page--#{$slug} .nav .#{$slug} a {
    color: $colour;
    background-color: #fff;
    border-right-width: 0;
  }

  .nav .#{$slug} a {
    border-right-color: $colour;

    &:hover,
    &:focus {
      color: $colour;
    }
  }
}

.nav {
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  background-color: $colour_off_white;

  // If screen is very narrow, and javascript is available,
  // make the nav full-screen and toggleable with javascript.
  @media (max-width: $tiny-screen-max) {
    body.has-js & {
      position: fixed;
      display: none;
    }
  }

  // If the screen is wide enough, make the nav into a sidebar.
  @media (min-width: $small-screen) {
    position: fixed;
    right: auto;
    width: 8em;
  }

  @media (min-width: $medium-screen) {
    width: 10em;
  }

  @media (min-width: $large-screen) {
    width: 12em;
  }

  ul {
    @extend .unstyled-list;
    margin: 0;

    @media (min-width: $small-screen) {
      // Make room for sticky .credits footer link
      position: relative;
      min-height: 100%;
      padding-bottom: 2em;
    }
  }

  li {
    // we put the border on the li, to avoid mitering
    // when we apply a border-left to the link inside
    border-bottom: 1px solid darken($colour_off_white, 5%);
  }

  a {
    display: block;
    padding: 1em;
    line-height: 1.2em;
    color: $colour_dark_grey;
    border-right: 0 solid transparent;
    @include prefix('transition', 'border-right-width 0.2s');

    @media (min-width: $small-screen) {
      // very short screens (but not very narrow, ie: not phones)
      padding: 0.5em;
    }

    @media (min-width: $small-screen) and (min-height: 440px) {
      // not quite so short short screens
      padding: 0.7em;
    }

    @media (min-width: $small-screen) and (min-height: 540px) {
      // normal height screens
      padding: 1em;
    }

    &:hover,
    &:focus {
      background-color: lighten($colour_off_white, 10%);
      text-decoration: none;
      border-right-width: 0.5em;
      @include prefix('transition', 'border-right-width 0.2s');
    }
  }

  .logo {
    display: block;
    text-indent: -9000px;
    width: 6em;
    height: 1.3em;
    background: transparent url(../img/mysociety-logo.png) 0 0 no-repeat;
    background-image: url(../img/mysociety-logo.svg), none;
    background-size: 100%;

    .page--welcome & {
      background-image: url(../img/mysociety-logo-purple.png);
      background-image: url(../img/mysociety-logo-purple.svg), none;
    }

    & + small {
      display: block;
    }
  }

  .welcome a {
    &:hover,
    &:focus {
      .logo {
        background-image: url(../img/mysociety-logo-purple.png);
        background-image: url(../img/mysociety-logo-purple.svg), none;
      }
    }
  }

  .credits {
    border-bottom: none;

    a {
      color: mix($colour_off_white, $colour_dark_grey, 50%);
      font-size: 0.75em;
      padding: 1em * (4/3);

      @media (min-width: $small-screen) {
        padding: 0.5em * (4/3);

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }

      @media (min-width: $small-screen) and (min-height: 440px) {
        padding: 0.7em * (4/3);
      }

      @media (min-width: $small-screen) and (min-height: 540px) {
        padding: 1em * (4/3);
      }

      &:hover,
      &:focus,
      .page--credits & {
        background-color: transparent;
        color: $colour_dark_grey;
        border-right: none;
      }
    }
  }
}

.nav-toggle {
  display: none;

  position: relative;
  background-color: $colour_off_white;
  padding: 0.8em 1em;
  color: $colour_dark_grey;
  line-height: 1.2em;

  &:after {
    @extend .#{$fa-css-prefix};
    @extend .#{$fa-css-prefix}-bars:before;
    position: absolute;
    top: 50%;
    right: 0.75em;
    font-size: 1.5em;
    margin-top: -0.5em;
  }

  &:hover:after {
    color: lighten($colour_dark_grey, 10%);
  }

  @media (max-width: $tiny-screen-max) {
    body.has-js & {
      display: block;
      cursor: pointer;
    }
  }

  &.nav-opened {
    * {
      display: none;
    }

    &:after {
      @extend .#{$fa-css-prefix}-close:before;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 101;
      padding: 1em;
      margin-top: 0;
    }
  }
}

.nav-toggle__site {
  font-size: 0.9em;
  color: mix($colour_dark_grey, $colour_off_white, 60%);
}

.nav-toggle__section {
  display: block;
}
