.section {
  display: block; // sections can be <a> elements sometimes!
  padding: 1em;

  @media (min-width: $small-screen) {
    margin-left: 8em;
  }

  @media (min-width: $medium-screen) {
    margin-left: 10em;
    padding: 1.5em;
  }

  @media (min-width: $large-screen) {
    margin-left: 12em;
    padding: 2em;
  }

  @media (min-width: $huge-screen) {
    padding: 2.5em;
  }

  &:last-child {
    padding-bottom: 5em;
  }

  a {
    text-decoration: underline;
    font-weight: 600;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  p {
    font-size: 1.2em;
    line-height: 1.4em;
  }

  & > :last-child,
  & > :last-child > :last-child {
    margin-bottom: 0;
  }

  @media (min-width: $large-screen) {
    & > * {
      width: 66%;
    }
  }

  @media (min-width: $huge-screen) {
    & > * {
      width: 50%;
    }
  }
}

@each $slug, $colour in $sections {
  .page--#{$slug} {
    background-color: $colour;
    color: #fff;
    @include coloured-links($colour);
  }
}

.page--credits {
  color: $colour_dark_grey;
  a {
    color: $colour_blue;

    &:hover,
    &:focus {
      color: darken($colour_blue, 5%);
    }
  }
}

.section--one-half {
  min-height: 300px;
}

.section--one-quarter {
  min-height: 150px;
}

.section--three-quarters {
  min-height: 450px;
}

@media (min-width: $medium-screen) and (min-height: 740px) {
  .section--one-half {
    min-height: 350px;
  }

  .section--one-quarter {
    min-height: 175px;
  }

  .section--three-quarters {
    min-height: 525px;
  }
}

@media (min-width: $medium-screen) and (min-height: 840px) {
  .section--one-half {
    min-height: 400px;
  }

  .section--one-quarter {
    min-height: 200px;
  }

  .section--three-quarters {
    min-height: 600px;
  }
}

.section--centred {
  text-align: center;

  & > * {
    width: auto;
  }
}

@media (min-width: $large-screen){
  .section--punchline {
    @include clearfix();

    & > * {
      clear: right;
      float: right;
    }
  }
}

.section--impactful {
  padding-top: 2em;
  padding-bottom: 2em;

  @media (min-width: $large-screen) {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  @media (min-width: $huge-screen) {
    padding-top: 7%;
    padding-bottom: 7%;
  }
}

%background-cover {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section--welcome--websites {
  @extend .section--centred;
  @extend .section--impactful;
  padding-bottom: 0;
  background: transparent url(../img/welcome-team.jpg) 50% 30% no-repeat;
  background-size: cover;
  text-shadow: 0 0 0.5em transparentize(darken(map-get($sections, 'welcome'), 50%), 0.6);

  .slideshow {
    margin-top: 2em;

    @media (min-width: $large-screen) {
      margin-top: 3em;
    }

    @media (min-width: $huge-screen) {
      margin-top: 7%;
    }
  }

  .slideshow__inner {
    &:after {
      @extend %inner-shadow;
    }
  }

  .slideshow__slide {
    padding: 0;
    position: relative;

    &:nth-child(5n + 1) {
      top: 0em;
      margin-left: -4em;
    }

    &:nth-child(5n + 2) {
      top: 1.5em;
      margin-left: -3.5em;
    }

    &:nth-child(5n + 3) {
      top: 0.5em;
      margin-left: -6em;
    }

    &:nth-child(5n + 4) {
      top: 2.5em;
      margin-left: -4.5em;
    }

    &:nth-child(5n + 5) {
      top: 1em;
      margin-left: -3.5em;
    }
  }

  .screenshot {
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);

    img {
      border-top: 1px solid #ddd;
    }
  }
}

.section--welcome--reality {
  @extend .section--centred;
  @extend .section--impactful;
}

.section--welcome--reality__hold-tight {
  margin-top: 2em;
  color: mix(map-get($sections, 'welcome'), #fff, 30%);
}

.section--welcome--toc {
  @extend .section--centred;
  @extend .section--impactful;

  .button {
    font-weight: bold;
    margin-top: 1em;
    font-size: 1em;
  }
}

.section--welcome--toc--figures {
  background: map-get($sections, 'figures') url(../img/welcome-figures.jpg) 50% 50% no-repeat;
  background-size: cover;
  @include coloured-links(map-get($sections, 'figures'));
}

.section--welcome--toc--uk {
  background: map-get($sections, 'uk') url(../img/welcome-uk.jpg) 50% 50% no-repeat;
  background-size: cover;
  @include coloured-links(map-get($sections, 'uk'));
}

.section--welcome--toc--international {
  background: map-get($sections, 'international') url(../img/welcome-international.png) 50% 50% no-repeat;
  background-size: cover;
  @include coloured-links(map-get($sections, 'international'));
}

.section--welcome--toc--commercial {
  background: map-get($sections, 'commercial') url(../img/welcome-commercial.jpg) 50% 50% no-repeat;
  background-size: cover;
  @include coloured-links(map-get($sections, 'commercial'));
}

.section--welcome--toc--research {
  background: map-get($sections, 'research') url(../img/welcome-research.jpg) 50% 0% no-repeat;
  background-size: cover;
  @include coloured-links(map-get($sections, 'research'));
}

.section--welcome--lets-go {
  @extend .section--centred;
  @extend .section--impactful;

  a {
    @extend .secondary-heading;
    color: #fff;
    text-decoration: none;

    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 50%, rgba(255,255,255,0.5) 50%);
    background-repeat: repeat-x;
    background-size: 3px 3px;
    background-position: 0 1.1em;
  }
}

.section--figures--leaders {
  background: darken(map-get($sections, 'figures'), 10%) url(../img/figures-mark.jpg) 50% 80% no-repeat;
  background-size: cover;

  h2 {
    margin-bottom: 0.2em;
  }
}

.section--figures--leaders__tapir {
  color: mix(map-get($sections, 'figures'), #fff, 30%);
  font-size: 1em !important;
  margin-bottom: 3em;
}

.section--figures--code {
  background-color: darken(map-get($sections, 'figures'), 5%);
}

.section--figures--projects {
  background: transparent url(../img/figures-projects.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.section--figures--events {
  background-color: darken(map-get($sections, 'figures'), 5%);
}

.section--figures--team {
  background: transparent url(../img/figures-team.jpg) 0% 50% no-repeat;
  background-size: cover;

  .stat-container {
    @extend .stat-container--alt;
  }
}

.section--uk--stats,
.section--uk--twfy-debates,
.section--uk--election {
  background-color: darken(map-get($sections, 'uk'), 10%);
}

.section--uk--wtt,
.section--uk--twfy-redesign,
.section--uk--wdtk,
.section--uk--up-all-night {
  background-color: darken(map-get($sections, 'uk'), 5%);
}

.section--international--top {
  @extend .section--centred;
}

.section--international--genderbalance,
.section--international--cdt {
  background-color: darken(map-get($sections, 'international'), 5%);
}

.section--international--figures,
.section--international--ynr {
  background-color: darken(map-get($sections, 'international'), 10%);
}

.section--international--poplus {
  @extend .section--centred;
  @extend .section--impactful;
  background-color: darken(map-get($sections, 'international'), 15%);
  background-image: url(../img/poplus-con.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.section--international--poplus__inner {
  margin: 0 auto;
  max-width: 24em;
  text-shadow: 0 0 0.5em transparentize(darken(map-get($sections, 'international'), 50%), 0.6);
}
